<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>大麦帮助中心 - 帮助中心目录</title>
    <link rel="shortcut icon" href="//gw.alicdn.com/tfs/TB1fGH0fgMPMeJjy1XcXXXpppXa-16-16.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bangzhuzhongxin.css"/>
</head>
<body>
<!--
<script>
    with (document) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("exparams", "pu_i=&userid=&aplus&asid=AQAAAABrhxdcO6UhAQAAAABELoLz+xo1WQ==&sidx=0&ckx=|", id = "tb-beacon-aplus", src = "//g.alicdn.com/alilog/mlog/aplus_v2.js")
</script>
-->


<div class="dm-header-wrap">
    <div class="dm-header-box" data-spm="top">
        <a href="//www.damai.cn"><img class="i-logo" src="images/TB1TikIsAvoK1RjSZFDXXXY3pXa-230-104.png" alt="大麦"/></a>
        <!--<div class="location-header" style="display:block">
            <img class="i-icon-location" src="images/TB1XHDuxNGYBuNjy0FnXXX5lpXa-28-32.png" alt="定位" />
            <span class="city-location">全国</span>
            <img class="i-arrow-location" src="images/TB1vnUBxStYBeNjSspaXXaOOFXa-20-12.png" alt="箭头" />
            <div class="city-header-wrap">
                <div class="city-header" data-spm="city">
                    <div class="now-city">
                        <span class="title-city">当前城市:</span>
                        <span class="name-city select-city">全国</span>
                    </div>
                    <div class="hot-city">
                        <span class="title-city">热门城市:</span>
                        <div class="list-other"></div>
                    </div>
                    <div class="other-city">
                        <span class="title-city">其他城市:</span>
                        <div class="list-other"></div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="recommend-header">
            <a href="//www.damai.cn" class="type-recommend select" data-spm="dhome">首页</a>
            <a href="//search.damai.cn/search.htm?order=1" class="type-recommend" data-spm="dcategory">分类</a>


        </div>
        <div class="right-header" data-spm="nick">
            <div class="box-header user-header">
                <a href="javascript:void(0)" class="J_userinfo_img" data-spm="duserinfo"><img
                        class="i-box-header i-user" src="images/TB14UKCGQyWBuNjy0FpXXassXXa-54-54.png"/></a>
                <a href="//passport.damai.cn/accountinfo/myinfo" class="J_userinfo_name" data-spm="duserinfo">
                    <div class="span-box-header name-user"></div>
                </a>
                <div class="login-user show">
                    <span class="span-box-header span-user" data-spm="dlogin">登录</span>
                </div>
                <div class="list-wrap">
                    <div class="list-login">
                        <a href="//passport.damai.cn/accountinfo/myinfo" class="li-login select" data-spm="duserinfo">个人信息</a>
                        <a href="//my.damai.cn/account/accountSafe" class="li-login" data-spm="daccountsetting">账号设置</a>
                        <a href="//orders.damai.cn/orderList" class="li-login" data-spm="dordermanage">订单管理</a>
                        <a href="//www.damai.cn/redirect.aspx?type=logout" data-spm="dexit" class="li-login out-login">退出登录</a>
                    </div>
                </div>
            </div>
            <div class="box-header download-header">
                <img class="i-box-header i-download" src="images/TB1A9eIGKuSBuNjy1XcXXcYjFXa-54-54.png" alt="下载"/>
                <span class="span-box-header">下载</span>
                <div class="ewm-download">
                    <img class="i-ewm" src="images/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png"/>
                </div>
            </div>
            <div class="box-header">
                <a href="//en.damai.cn/" data-spm="denglish">
                    <img class="i-box-header" src="images/TB13UKCGQyWBuNjy0FpXXassXXa-54-54.png" alt="英文站"/>
                    <span class="span-box-header">English</span>
                </a>
            </div>
        </div>
        <div class="search-header" data-spm="searchtxt">
            <img class="i-search" src="images/TB1qv3jxGmWBuNjy1XaXXXCbXXa-34-36.png" alt="搜索"/>
            <input class="input-search" placeholder="搜索明星、演出、体育赛事" data-spm="dsearchbtn"/>
            <div class="btn-search" data-spm="dsearchbtn2">搜索</div>
            <div class="list-search-wrap">
                <div class="list-search">
                </div>
            </div>
        </div>

    </div>
</div>


<div class="help_box">
    <h1 class="help_box_title"><strong>帮助中心</strong></h1>
    <div class="help_left">
        <div class="help_menu">
            <div class="help_menu_title">分类问题</div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=订购方式>订购方式</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=7"
                           title=pc端订购>pc端订购</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=9"
                           title=移动端订购>移动端订购</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=10"
                           title=电话订购>电话订购</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=66"
                           title=上门订购>上门订购</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=订单说明>订单说明</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=47"
                           title=订单服务条款>订单服务条款</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=12"
                           title=订单管理帮助>订单管理帮助</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=支付方式>支付方式</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=20"
                           title=在线支付>在线支付</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=67"
                           title=上门付款>上门付款</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=配送方式>配送方式</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=43"
                           title=电子票>电子票</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=44"
                           title=快递配送>快递配送</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=45"
                           title=上门自取>上门自取</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=账户安全>账户安全</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=38"
                           title=大麦网会员服务协议>大麦网会员服务协议</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=39"
                           title=找回密码>找回密码</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=40"
                           title=隐私权专项条款>隐私权专项条款</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=41"
                           title=实名认证>实名认证</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=42"
                           title=SSL安全证书>SSL安全证书</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=74"
                           title=Damai.cn Member Service Agreement>Damai.cn Member Service Agreement</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=75"
                           title=Special Terms on Privacy Policy>Special Terms on Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=售后服务>售后服务</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=34"
                           title=缺货说明>缺货说明</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=35"
                           title=发票帮助>发票帮助</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=36"
                           title=积分帮助>积分帮助</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=37"
                           title=短信帮助>短信帮助</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=大麦客户端>大麦客户端</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=16"
                           title=如何下载>如何下载</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=17"
                           title=功能介绍>功能介绍</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=18"
                           title=如何购票>如何购票</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=30"
                           title=m站购票指南>m站购票指南</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=大麦票夹>大麦票夹</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=29"
                           title=电子票说明>电子票说明</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=特色服务>特色服务</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: none;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=52"
                           title=先付先抢>先付先抢</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=53"
                           title=电子钱包>电子钱包</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=54"
                           title=大麦超级票>大麦超级票</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=55"
                           title=大麦优惠券>大麦优惠券</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=57"
                           title=大麦超级票购电影票指南>大麦超级票购电影票指南</a>
                    </li>
                </ul>
            </div>
            <div class="menu_menu_group">
                <div class="menu_group_title">
                    <a href="javascript:void(0)" class="c2" title=关于大麦>关于大麦</a>
                    <span></span>
                </div>
                <!--展开被选中的分类目录-->
                <ul class="menu_group_list" style="display: block;">

                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=69"
                           title=公司介绍>公司介绍</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=70"
                           title=品牌识别>品牌识别</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=14"
                           title=企业荣誉>企业荣誉</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=72"
                           title=公司大事记>公司大事记</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=58"
                           title=联系及合作>联系及合作</a>
                    </li>
                    <li>
                        <a href="//help.damai.cn/helpPage.htm?pageId=73"
                           title=帮助中心目录>帮助中心目录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="help_right">
        <div class="help_right_title">
            <strong>帮助中心目录</strong>
        </div>
        <div class="help_right_content" style="color: #444;">
            <table style="width: 600px; text-align: center">
                <tr style="height: 100px; vertical-align: top">
                    <td><a style="color: #666; font-size: 12px;"
                           href="https://help.damai.cn/helpPage.htm?pageId=69"><img style="margin-bottom: 5px;"
                                                                                    src="images/TB1NqFhCTtYBeNjy1XdXXXXyVXa-64-64.png"
                                                                                    width="32"/><br/>公司介绍</a></td>
                    <td><a style="color: #666; font-size: 12px;"
                           href="https://help.damai.cn/helpPage.htm?pageId=58"><img style="margin-bottom: 5px;"
                                                                                    src="images/TB1vo90CuuSBuNjy1XcXXcYjFXa-64-64.png"
                                                                                    width="32"/><br/>联系及合作</a></td>
                    <td><a style="color: #666; font-size: 12px;"
                           href="https://help.damai.cn/helpPage.htm?pageId=47"><img style="margin-bottom: 5px;"
                                                                                    src="images/TB17BX5aOrpK1RjSZFhXXXSdXXa-200-200.png_190x190.jpg"
                                                                                    width="32"/><br/>订单服务条款</a></td>
                </tr>
                <tr style="vertical-align: top">
                    <td><a style="color: #666; font-size: 12px;"
                           href="https://help.damai.cn/helpPage.htm?pageId=12"><img style="margin-bottom: 5px;"
                                                                                    src="images/TB1rrW1CuSSBuNjy0FlXXbBpVXa-64-64.png"
                                                                                    width="32"/><br/>订单管理帮助</a></td>
                    <td><a style="color: #666; font-size: 12px;"
                           href="https://help.damai.cn/helpPage.htm?pageId=35"><img style="margin-bottom: 5px;"
                                                                                    src="images/TB1sbW1CuSSBuNjy0FlXXbBpVXa-64-64.png"
                                                                                    width="32"/><br/>发票帮助</a></td>
                    <td><a style="color: #666; font-size: 12px;"
                           href="https://help.damai.cn/helpPage.htm?pageId=39"><img style="margin-bottom: 5px;"
                                                                                    src="images/TB1OGFhCTtYBeNjy1XdXXXXyVXa-64-64.png"
                                                                                    width="32"/><br/>找回密码</a></td>
                </tr>
            </table>
        </div>
    </div>

</div>


<div class="dm-footer">
    <div class="dm-footer">
        <div class="w1200">
            <ul class="footer__links">

                <li class="footer__links__list"><a href="//help.damai.cn" target="_blank" data-spm="flink0">帮助中心</a>
                </li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=69&amp;categoryId=30" target="_blank"
                        data-spm="flink1">公司介绍</a></li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=70&amp;categoryId=30" target="_blank"
                        data-spm="flink2">品牌识别</a></li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=72&amp;categoryId=30" target="_blank"
                        data-spm="flink3">公司大事记</a></li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=40&amp;categoryId=14" target="_blank"
                        data-spm="flink4">隐私权专项政策</a></li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;jubao.alibaba.com&#x2F;internet&#x2F;readme.htm?spm=a2o6e.search.0.0.72f44d15Votov6&amp;site=damai"
                        target="_blank" data-spm="flink5">廉正举报</a></li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=58&amp;categoryId=5" target="_blank"
                        data-spm="flink6">联系合作</a></li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;job.alibaba.com&#x2F;zhaopin&#x2F;positionList.htm?keyWord=JXU1OTI3JXU5RUE2&amp;_input_charset=UTF-8"
                        target="_blank" data-spm="flink7">招聘信息</a></li>
                <li class="footer__links__grep">|</li>

                <li class="footer__links__list"><a
                        href="&#x2F;&#x2F;x.damai.cn&#x2F;markets&#x2F;special&#x2F;fangzhapian?spm=a2o6e.home.0.0.75df48d3hqGWGD&amp;wh_ttid=pc"
                        target="_blank" data-spm="flink8">防骗秘籍</a></li>


            </ul>
            <div class="footer__ft">
                <div class="footer__ft_fl">
                    <a href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B" target="_blank"
                       class="footer__ft__logo">
                        <img src="images/TB17qoDszTpK1RjSZKPXXa3UpXa-167-60.png" alt="">
                    </a>
                    <div class="footer__ft__code__box">
                        <img class="footer__ft__code" src="images/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png" alt="">
                        <span>APP下载</span>
                    </div>
                </div>
                <div class="footer__ft_fr">
                    <div class="footer__fr__contact">

                        <a style="margin-left:0;" href="//online.damai.cn/alime/index?from=damai_pc_item&v=3"
                           class="footer__fr__contact__btn alime">在线客服</a>
                    </div>
                    <ul class="footer__ft__words">
                        <li class="footer__ft__certificate"><a
                                href="http://www.miitbeian.gov.cn?spm=a2o6e.home.0.0.5b4d48d3mVzb2Z" target="_blank">京ICP证031057号</a>
                        </li>
                        <li class="footer__ft__grep">|</li>
                        <li class="footer__ft__certificate"><a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备11043884号</a>
                        </li>
                        <li class="footer__ft__grep">|</li>
                        <li class="footer__ft__certificate"><a
                                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102000430"
                                target="_blank">京公网安备11010102000430号</a>
                        </li>
                        <li class="footer__ft__grep">|</li>
                        <li class="footer__ft__certificate"><a href="images/TB1K9r6xN9YBuNjy0FfXXXIsVXa-1152-799.jpg"
                                                               target="_blank">广播电视节目制作经营许可证
                            (京)字第02253号</a></li>
                    </ul>
                    <ul class="footer__ft__words">
                        <li class="footer__ft__certificate"><a
                                href="images/TB1AsH4xH9YBuNjy0FgXXcxcXXa-1420-1032.jpg" target="_blank">网络文化经营许可证
                            京网文[2016]3438-413号</a></li>
                        <li class="footer__ft__grep">|</li>
                        <li class="footer__ft__certificate"><a href="images/TB1DfD6CxGYBuNjy0FnXXX5lpXa-1079-1527.jpg"
                                                               target="_blank">营业性演出许可证
                            京市演587号</a></li>
                    </ul>
                    <ul class="footer__ft__words">
                        <li class="footer__ft__certificate">北京红马传媒文化发展有限公司 版权所有</li>
                        <li class="footer__ft__certificate"><a
                                href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B">大麦网</a></li>
                        <li>Copyright 2003-2018 All Rights Reserved</li>
                    </ul>
                    <div class="footer__ft__img">
                    <span id="siteseal">
                    <script async="" type="text/javascript">
                            function verifySeal() {
                                var bgHeight = "null";
                                var bgWidth = "593";
                                var url = "https:\/\/seal.godaddy.com\/verifySeal?sealID=LU6rXPgk5BZ67ZEYpYS2JcN3AyCJOs6aD3HBo4dwA3iGeqp6csKFmqgB0zLL";
                                window.open(url, 'SealVerfication', 'menubar=no,toolbar=no,personalbar=no,location=yes,status=no,resizable=yes,fullscreen=no,scrollbars=no,width=' + bgWidth + ',height=' + bgHeight);
                            }
                    </script>
                    <img style="cursor:pointer;cursor:hand" class="footer__ft__img1"
                         src="images/TB1gw_ZxNWYBuNjy1zkXXXGGpXa-131-32.gif"
                         onclick="verifySeal();" alt="SSL site seal - click to verify"
                         data-spm-anchor-id="a2o6e.home.0.i1.5b4d48d3mVzb2Z">
                    </span>
                        <a rel="nofollow" title="电子营业执照" target="_blank"
                           href="images/TB1CChlpwDqK1RjSZSyXXaxEVXa-1200-1672.jpg">
                            <img class="footer__ft__img2" alt="" src="images/TB1ZO80pyOYBuNjSsD4XXbSkFXa-141-41.png">
                        </a>

                        <a rel="nofollow" target="_blank" href="https://www.pcisecuritystandards.org/">
                            <img src="images/TB1Y580pyOYBuNjSsD4XXbSkFXa-83-50.png" class="footer__ft__img3">
                        </a>
                        <a rel="nofollow" target="_blank"
                           href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1756737221">
                            <img src="images/TB1pM_ZxNWYBuNjy1zkXXXGGpXa-114-40.png" class="footer__ft__img4w">
                        </a>
                        <a target="_blank" href="https://search.szfw.org/cert/l/CX20130327002367002885"
                           id="___szfw_logo___">
                            <img class="footer__ft__img4" src="images/TB1C4nNxTlYBeNjSszcXXbwhFXa-114-42.png">
                        </a>
                        <!--<script type="text/javascript">(function () {
                            document.getElementById('___szfw_logo___').oncontextmenu = function () {
                                return false;
                            }
                        })();</script>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .sidebar {
        top: 72.5%;
    }

    img {
        border: 0;
    }
</style>
<!--<script type="text/javascript"
        src="https://g.alicdn.com/dt/tracker/3.5.4/??tracker.Tracker.js,tracker.interfaceTrackerPlugin.js,tracker.performanceTrackerPlugin.js"
        crossorigin></script>-->
<!--<script type="text/javascript">

    var tracker = new window.Tracker({
        pid: 'damaipc',
        plugins: [
            [window.interfaceTrackerPlugin],
            [window.performanceTrackerPlugin]
        ],
    });

    // 启动 tracker 并监听全局 JS 异常
    tracker.install();
</script>-->


<div class="server_info" style="display:none;color:#f3f3f3;text-align:center;">mec-guide-web011021049178.center.na62
</div>
<script data-config="{combine:true}" src="//g.alicdn.com/kissy/k/6.2.4/seed.js"></script>
<script src="//g.alicdn.com/damai/pc/1.0.3/p/help/index.js" async=""></script>
</body>
</html>
