<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>中文登录</title>
    <link rel="stylesheet" href="css/denglu.css"/>
    <link rel="stylesheet" href="css/denglu4.css"/>
    <link rel="stylesheet" href="css/denglu5.css"/>
    <!--<script>"function" != typeof Object.assign && (Object.assign = function (t, n) {
        "use strict";
        if (null == t) throw new TypeError("Cannot convert undefined or null to object");
        for (var e = Object(t), r = 1; r < arguments.length; r++) {
            var o = arguments[r];
            if (null != o) for (var c in o) Object.prototype.hasOwnProperty.call(o, c) && (e[c] = o[c])
        }
        return e
    });</script>
    <script src='//g.alicdn.com/??kissy/k/6.2.4/seed-min.js,mtb/lib-promise/3.1.3/polyfillB.js,mtb/lib-mtop/2.4.2/mtop.cmd.js'
            data-config="{combine:true}"></script>
    <script> define('@ali/lib-promise/build/polyfillB', function (require, module, exports) {
        module.exports = Promise;
    }); </script>-->

    <!-- header block start -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <link rel="shortcut icon" href="//gw.alicdn.com/tfs/TB1fGH0fgMPMeJjy1XcXXXpppXa-16-16.ico" type="image/x-icon">
    <style>
        body, html {
            font-family: 'Helvetica', "PingFang SC", 'Hiragino Sans GB W3', arial, sans-serif
        }
    </style>
    <!-- header block end -->


    <!-- page export styles  -->


    <link rel="stylesheet" href="css/denglu1.css">


    <!-- page export styles end -->


    <!-- grid style start -->
    <link rel="stylesheet" href="css/denglu2.css"/>
    <!-- grid style end  -->


</head>
<body>
<!--<script>
    with (document) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("exparams", "category=&userid=&aplus&yunid=&&asid=AQAAAAAhlxdcKptwOgAAAABwpI9UpicO0w==", id = "tb-beacon-aplus", src = (location > "https" ? "//g" : "//g") + ".alicdn.com/alilog/mlog/aplus_v2.js")
</script>-->


<!-- body start -->


<div class=" page-layout page-main-content">

    <!-- container -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">

            <!-- col -->

            <div class="col col-main">
                <div class="main-wrap J_Region">

                    <!-- module -->

                    <div id="guid-1012363" class="kissy-login-top J_Module">
                        <style>.pcbar {
                            height: 90px
                        }

                        .pcbar__bd {
                            width: 1200px;
                            margin: 0 auto;
                            height: 90px
                        }

                        .pcbar__bd__logo img {
                            float: left;
                            *display: inline;
                            margin-top: 24px;
                            width: 108px;
                            height: 48px
                        }

                        .pcbar__bd__btn {
                            float: right;
                            *display: inline;
                            margin-top: 24px;
                            width: 121px;
                            height: 38px;
                            line-height: 38px;
                            overflow: hidden;
                            text-align: center;
                            border: 1px solid #ebebeb;
                            font-size: 14px;
                            color: #888;
                            text-decoration: none;
                        }

                        .pcbar__bd__btn:hover {
                            text-decoration: none
                        }</style>
                        <div class="pcbar">
                            <div class="pcbar__bd w1200">
                                <a href="https://www.damai.cn" class="pcbar__bd__logo">
                                    <img src="images/TB1TikIsAvoK1RjSZFDXXXY3pXa-230-104.png"/>
                                </a>
                                <a href="https://en.damai.cn/" target="_blank" class="pcbar__bd__btn">English</a>
                            </div>
                        </div>

                    </div>
                    <!--module -->


                </div>

            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <!-- container -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">

            <!-- col -->

            <!--<div class="col col-main">
                <div class="main-wrap J_Region">


                    &lt;!&ndash; module &ndash;&gt;

                    <div data-spm="1013791" data-moduleid="0" data-name="kissy-login" data-guid="1013791"
                         id="guid-1013791" data-scene-id="1431776" data-scene-version="7" data-hidden=""
                         data-gitgroup="damai-mod" data-ext="" data-engine="tce" class="kissy-login J_Module"
                         tms="kissy-login/0.0.26" tms-datakey="tce/1431776">
                        <script src="https://g.alicdn.com/tb/login/0.3.8/havanalogin/js/mini-login-embedder-min.js"></script>
                        <div class="J_ModContainer">
                            <div class="module-wrap login-wrap">

                            </div>
                        </div>

                    </div>
                    &lt;!&ndash;module &ndash;&gt;


                </div>

            </div>-->
            <div class="col col-main">
                <div class="main-wrap J_Region">


                    <!-- module -->

                    <div id="guid-1013791"class="kissy-login J_Module">
                        <script src="https://g.alicdn.com/tb/login/0.3.8/havanalogin/js/mini-login-embedder-min.js"></script>
                        <div class="J_ModContainer">
                            <div class="module-wrap login-wrap">
                                <div class="login"
                                     style="background: linear-gradient(to right,#aa3c2f,#aa3c2f, #aa3c2f)">
                                    <div class="login__box w-login">
                                        <a href="https://p.damai.cn/wow/act/act/maidaojsj?spm=a211rg.193253.1013791.1.376e7de2V3vgh6&amp;wh_biz=tm"
                                           class="login__box__poster" data-spm-anchor-id="a211rg.193253.1013791.1">
                                            <img src="images/TB1OasLsgHqK1RjSZJnXXbNLpXa-720-400.png_q75.jpg"
                                                 width="720" height="400" alt="">
                                        </a>
                                        <div id="alibaba-login-iframe" class="iframe-loaded">
                                            <div id="alibaba-login-iframe-loading"></div>
                                            <!--<iframe id="alibaba-login-box" src="https://ipassport.damai.cn/mini_login.htm?lang=zh_cn&amp;appName=damai&amp;appEntrance=default&amp;styleType=vertical&amp;bizParams=&amp;notLoadSsoView=true&amp;notKeepLogin=false&amp;isMobile=false&amp;regUrl=https%3A%2F%2Fpassport.damai.cn%2Fregister&amp;plainReturnUrl=https%3A%2F%2Fpassport.damai.cn%2Flogin&amp;returnUrl=https%3A%2F%2Fpassport.damai.cn%2Fdologin.htm%3FredirectUrl%3Dhttps%253A%252F%252Fwww.damai.cn%252F%26platform%3D106002&amp;rnd=0.05778588491215064" width="350" height="326" frameborder="none" scrolling="no" style="border: none;">

                                            </iframe>-->
                                            <div id="login" class="width-vertical login-label-icon login-view-password">
                                                <div class="login-tabs" id="login-tabs">
                                                    <div class="login-tabs-tab smdl active">扫码登录</div>
                                                    <!--<div class="login-tabs-tab dxdl">短信登录</div>-->
                                                    <div class="login-tabs-tab mmdl">密码登录</div>
                                                </div>
                                                <div class="login-content nc-outer-box">
                                                    <!-- 账号密码登录 -->
                                                    <div class="login-password" style="display: none">
                                                        <div id="login-error" class="login-error" style="display: none">
                                                            <i class="iconfont icon-warning"></i>
                                                            <div class="login-error-msg"></div>
                                                        </div>
                                                        <form id="login-form" class="login-form">
                                                            <span style="color:red" id="yz"></span>
                                                            <div class="fm-field">
                                                                <div><label class="fm-label-icon">
                                                                    <img src="images/QQ20181217224843.png"/>
                                                                    <i class="icon-user iconfont"
                                                                       title="用户名">
                                                                    </i></label></div>
                                                                <div class="input-plain-wrap input-wrap-loginid "><input
                                                                        type="text" class="fm-text" id="fm-login-id"
                                                                        tabindex="1" aria-label="请输入手机号或邮箱"
                                                                        placeholder="请输入手机号或邮箱" autocapitalize="off">
                                                                </div>
                                                            </div>
                                                            <div class="fm-field">
                                                                <div><label class="fm-label-icon">
                                                                    <img src="images/QQ20181217225057.png"/>
                                                                    <i class="iconfont"
                                                                       title="请输入登录密码"></i></label></div>
                                                                <div class="input-plain-wrap input-wrap-password"><input
                                                                        type="password" class="fm-text"
                                                                        id="fm-login-password" tabindex="2"
                                                                        aria-label="请输入登录密码" placeholder="请输入登录密码"
                                                                        maxlength="40" autocomplete="off"
                                                                        autocapitalize="off"></div>
                                                            </div>
                                                            <div>
                                                                <div id="nocaptcha-password"
                                                                     class="nc-container tb-login" data-nc-idx="1"
                                                                     style="display: none;">
                                                                    <div class="errloading"><i
                                                                            class="nc_iconfont icon_warn"></i><span
                                                                            class="nc-lang-cnt"
                                                                            login-content nc-outer-box
                                                                            data-nc-lang="_errorNetwork">网络不给力，请<a
                                                                            href="javascript:noCaptcha.reset(1)">点击刷新</a>，或<a
                                                                            target="_blank"
                                                                            href="http://survey.taobao.com/survey/QgzQDdDd?token=35e8c44cca5d680f369f47b1525944dd43be453a">提交反馈</a></span><span
                                                                            class="nc-errcode"> (01)</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="fm-btn">
                                                                <button type="button" tabindex="3" id="dengluyz"
                                                                        class="fm-button fm-submit password-login">登录
                                                                </button>
                                                            </div>
                                                            <!--下面的小图标-->
                                                            <!--<div class="login-blocks sns-login-block">
                                                                <div class="sns-login">
                                                                    <div class="sns-login-title"></div>
                                                                    <div id="thirdpart-login">
                                                                        <a href="javascript:;" attr-action="window"
                                                                           attr-type="weixin"
                                                                           attr-customurl=""
                                                                           attr-onclickfn=""
                                                                           class="thirdpart-login-icon icon-weixin"
                                                                           title="sign with weixin">
                                                                            <img style="padding-right: 8px"
                                                                                 src="images/QQweixin.png"/>
                                                                        </a>
                                                                        <a
                                                                                href="javascript:;" attr-action="window"
                                                                                attr-type="qq" attr-customurl=""
                                                                                attr-onclickfn=""
                                                                                class="thirdpart-login-icon icon-qq"
                                                                                title="sign with qq">
                                                                            <img style="padding-right: 8px"
                                                                                 src="images/QQqq.png"/>
                                                                        </a>
                                                                        <a
                                                                                href="javascript:;" attr-action="window"
                                                                                attr-type="weibo" attr-customurl=""
                                                                                attr-onclickfn=""
                                                                                class="thirdpart-login-icon icon-weibo"
                                                                                title="sign with weibo">
                                                                            <img style="padding-right: 8px"
                                                                                 src="images/QQxinlang.png"/>
                                                                        </a>
                                                                        <a
                                                                                href="javascript:;" attr-action="window"
                                                                                attr-type="alipay" attr-customurl=""
                                                                                attr-onclickfn=""
                                                                                class="thirdpart-login-icon icon-alipay"
                                                                                title="sign with alipay">
                                                                            <img src="images/QQzfb.png"/>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>-->
                                                            <div class="login-blocks login-links"><a
                                                                    href=""
                                                                    target="_blank" class="">忘记密码</a><a
                                                                    href="zhuce.html"
                                                                    target="_blank" class="">免费注册</a></div>
                                                        </form>
                                                    </div>
                                                    <!-- 手机登录，被安排了 -->
                                                    <!--<div class="login-sms" style="display: none">
                                                        <div id="login-error1" class="login-error"
                                                             style="display: none">
                                                            <i class="iconfont icon-warning"></i>
                                                            <div class="login-error-msg"></div>
                                                        </div>
                                                        <form id="login-form1" class="login-form">
                                                            <div class="fm-field fm-field-mobile">
                                                                <div><label class="fm-label-icon">
                                                                    <img src="images/QQsj.png"/>
                                                                    <i class="icon-phone iconfont"
                                                                       title="请输入手机号"></i></label>
                                                                </div>
                                                                <div class="phone-code-select">
                                                                    <div class="phone-code">+86
                                                                        <i class="iconfont"></i>
                                                                        <img src="images/QQjt.png"/>
                                                                    </div>
                                                                    <ul class="phone-code-options"
                                                                        style="width: 160px; max-height: 200px; display: none;">
                                                                        &lt;!&ndash;active&ndash;&gt;
                                                                        <li class=""><span
                                                                                class="phone-code-options-text"
                                                                                title="中国大陆">中国大陆</span><span
                                                                                class="phone-code-options-code">+86</span>
                                                                        </li>
                                                                        <li class=""><span
                                                                                class="phone-code-options-text"
                                                                                title="中国香港">中国香港</span><span
                                                                                class="phone-code-options-code">+852</span>
                                                                        </li>
                                                                        <li class=""><span
                                                                                class="phone-code-options-text"
                                                                                title="中国澳门">中国澳门</span><span
                                                                                class="phone-code-options-code">+853</span>
                                                                        </li>
                                                                        <li class=""><span
                                                                                class="phone-code-options-text"
                                                                                title="中国台湾地区">中国台湾地区</span><span
                                                                                class="phone-code-options-code">+886</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="input-plain-wrap input-wrap-sms-loginid ">
                                                                    <input type="text" class="fm-text"
                                                                           id="fm-sms-login-id" tabindex="1"
                                                                           placeholder="请输入手机号" autocapitalize="off">
                                                                </div>
                                                            </div>
                                                            <div class="fm-field fm-field-sms">
                                                                <div>
                                                                    <label class="fm-label-icon">
                                                                        <img src="images/QQdx.png"/>
                                                                        <i class="iconfont"
                                                                           title="请输入验证码"></i></label></div>
                                                                <div class="input-plain-wrap input-wrap-smscode"><input
                                                                        type="text" class="fm-text" id="fm-smscode"
                                                                        tabindex="2" aria-label="请输入验证码"
                                                                        placeholder="请输入验证码" maxlength="6"
                                                                        autocomplete="off" autocapitalize="off"></div>
                                                                <div class="send-btn"><a href="javascript:void(0);"
                                                                                         class="send-btn-link">获取验证码</a>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div id="nocaptcha-sms" class="nc-container tb-login"
                                                                     data-nc-idx="26" style="display: none;">
                                                                    <div id="nc_26_wrapper" class="nc_wrapper">
                                                                        <div id="nc_26_n1t" class="nc_scale">
                                                                            <div id="nc_26__bg" class="nc_bg"></div>
                                                                            <span id="nc_26_n1z"
                                                                                  class="nc_iconfont btn_slide"></span>
                                                                            <div id="nc_26__scale_text"
                                                                                 class="scale_text slidetounlock"><span
                                                                                    class="nc-lang-cnt"
                                                                                    data-nc-lang="_startTEXT">请按住滑块，拖动到最右边</span>
                                                                            </div>
                                                                            <div id="nc_26_clickCaptcha"
                                                                                 class="clickCaptcha">
                                                                                <div class="clickCaptcha_text">
                                                                                    <b id="nc_26__captcha_text"
                                                                                       class="nc_captch_text"></b>
                                                                                    <i id="nc_26__btn_2"
                                                                                       class="nc_iconfont nc_btn_2 btn_refresh"></i>
                                                                                </div>
                                                                                <div class="clickCaptcha_img"></div>
                                                                                <div class="clickCaptcha_btn"></div>
                                                                            </div>
                                                                            <div id="nc_26_imgCaptcha"
                                                                                 class="imgCaptcha">
                                                                                <div class="imgCaptcha_text"><input
                                                                                        id="nc_26_captcha_input"
                                                                                        maxlength="6" type="text"
                                                                                        style="ime-mode:disabled"></div>
                                                                                <div class="imgCaptcha_img"
                                                                                     id="nc_26__imgCaptcha_img"></div>
                                                                                <i id="nc_26__btn_1"
                                                                                   class="nc_iconfont nc_btn_1 btn_refresh"
                                                                                   onclick="document.getElementById('nc_26__imgCaptcha_img').children[0].click()"></i>
                                                                                <div class="imgCaptcha_btn">
                                                                                    <div id="nc_26__captcha_img_text"
                                                                                         class="nc_captcha_img_text"></div>
                                                                                    <div id="nc_26_scale_submit"
                                                                                         class="nc_scale_submit"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div id="nc_26_cc" class="nc-cc"></div>
                                                                            <i id="nc_26__voicebtn" tabindex="0"
                                                                               role="button"
                                                                               class="nc_voicebtn nc_iconfont"
                                                                               style="display:none"></i>
                                                                            <b id="nc_26__helpbtn"
                                                                               class="nc_helpbtn"><span
                                                                                    class="nc-lang-cnt"
                                                                                    data-nc-lang="_learning">了解新功能</span></b>
                                                                        </div>
                                                                        <div id="nc_26__voice" class="nc_voice"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="fm-btn">
                                                                <button type="submit" tabindex="3"
                                                                        class="fm-button fm-submit sms-login">登录
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>-->
                                                    <!-- 扫码登录 -->
                                                    <div class="qrcode-login" style="display: block">
                                                        <div class="login-blocks qrcode-login-title"><label class=""></label>
                                                        </div>
                                                        <div>
                                                            <div class="qrcode-img"><img src="images/QQ20181219173317.png"
                                                                    width="100%" height="100%"></div>
                                                            <div class="qrcode-desc">
                                                                <i class=""></i>
                                                                <p style="background: url('images/QQsys.png')no-repeat white 0px 2px">打开<a href="http://mobile.damai.cn" target="_blank">大麦手机客户端</a><br>扫一扫登录
                                                                </p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="_umfp"
                                                     style="display: none; width: 1px; height: 1px; overflow: hidden;">
                                                    <img src="https://ynuf.alipay.com/service/clear.png?xt=35e8c44cca5d680f369f47b1525944dd43be453a&amp;xa=090D1F110F1878292829161C">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--module -->


                </div>

            </div>
            <!--col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <!-- container -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">

            <!-- col -->

            <div class="col col-main">
                <div class="main-wrap J_Region">


                    <!-- module -->

                    <div id="guid-1022394" class="kissy-pc-footer J_Module">
                        <link rel="stylesheet" href="css/denglu3.css"/>

                        <div class="dm-footer">
                            <div class="w1200">
                                <ul class="footer__links">

                                    <li class="footer__links__list"><a href="//help.damai.cn" target="_blank">帮助中心</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=69&amp;categoryId=30"
                                            target="_blank" data-spm="flink1">公司介绍</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=70&amp;categoryId=30"
                                            target="_blank" data-spm="flink2">品牌识别</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=72&amp;categoryId=30"
                                            target="_blank" data-spm="flink3">公司大事记</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=40&amp;categoryId=14"
                                            target="_blank" data-spm="flink4">隐私权专项政策</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;jubao.alibaba.com&#x2F;internet&#x2F;readme.htm?spm=a2o6e.search.0.0.72f44d15Votov6&amp;site=damai"
                                            target="_blank" data-spm="flink5">廉正举报</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=58&amp;categoryId=5"
                                            target="_blank" data-spm="flink6">联系合作</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;job.alibaba.com&#x2F;zhaopin&#x2F;positionList.htm?keyWord=JXU1OTI3JXU5RUE2&amp;_input_charset=UTF-8"
                                            target="_blank" data-spm="flink7">招聘信息</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;x.damai.cn&#x2F;markets&#x2F;special&#x2F;fangzhapian?spm=a2o6e.home.0.0.75df48d3hqGWGD&amp;wh_ttid=pc"
                                            target="_blank" data-spm="flink8">防骗秘籍</a></li>


                                </ul>
                                <div class="footer__ft">
                                    <div class="footer__ft_fl">
                                        <a href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B" target="_blank"
                                           class="footer__ft__logo">
                                            <img src="images/TB17qoDszTpK1RjSZKPXXa3UpXa-167-60.png"
                                                 alt="">
                                        </a>
                                        <div class="footer__ft__code__box">
                                            <img class="footer__ft__code"
                                                 src="images/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png"
                                                 alt="">
                                            <span>APP下载</span>
                                        </div>
                                    </div>
                                    <div class="footer__ft_fr">
                                        <div class="footer__fr__contact">

                                            <a style="margin-left:0;"
                                               href="//online.damai.cn/alime/index?from=damai_pc_item&v=3"
                                               class="footer__fr__contact__btn alime">在线客服</a>
                                        </div>
                                        <ul class="footer__ft__words">
                                            <li class="footer__ft__certificate"><a
                                                    href="http://www.miitbeian.gov.cn?spm=a2o6e.home.0.0.5b4d48d3mVzb2Z"
                                                    target="_blank">京ICP证031057号</a></li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a href="http://www.miitbeian.gov.cn"
                                                                                   target="_blank">京ICP备11043884号</a>
                                            </li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102000430"
                                                    target="_blank">京公网安备11010102000430号</a>
                                            </li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="images/TB1K9r6xN9YBuNjy0FfXXXIsVXa-1152-799.jpg"
                                                    target="_blank">广播电视节目制作经营许可证
                                                (京)字第02253号</a></li>
                                        </ul>
                                        <ul class="footer__ft__words">
                                            <li class="footer__ft__certificate"><a
                                                    href="images/TB1AsH4xH9YBuNjy0FgXXcxcXXa-1420-1032.jpg"
                                                    target="_blank">网络文化经营许可证
                                                京网文[2016]3438-413号</a></li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="images/TB1DfD6CxGYBuNjy0FnXXX5lpXa-1079-1527.jpg"
                                                    target="_blank">营业性演出许可证
                                                京市演587号</a></li>
                                        </ul>
                                        <ul class="footer__ft__words">
                                            <li class="footer__ft__certificate">北京红马传媒文化发展有限公司 版权所有</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B">大麦网</a>
                                            </li>
                                            <li>Copyright 2003-2018 All Rights Reserved</li>
                                        </ul>
                                        <div class="footer__ft__img">
                    <span id="siteseal">
                    <!--<script async="" type="text/javascript">
                            function verifySeal() {
                                var bgHeight = "null";
                                var bgWidth = "593";
                                var url = "https:\/\/seal.godaddy.com\/verifySeal?sealID=LU6rXPgk5BZ67ZEYpYS2JcN3AyCJOs6aD3HBo4dwA3iGeqp6csKFmqgB0zLL";
                                window.open(url, 'SealVerfication', 'menubar=no,toolbar=no,personalbar=no,location=yes,status=no,resizable=yes,fullscreen=no,scrollbars=no,width=' + bgWidth + ',height=' + bgHeight);
                            }
                    </script>-->
                    <img style="cursor:pointer;cursor:hand" class="footer__ft__img1"
                         src="images/TB1gw_ZxNWYBuNjy1zkXXXGGpXa-131-32.gif"
                         onclick="verifySeal();" alt="SSL site seal - click to verify"
                         data-spm-anchor-id="a2o6e.home.0.i1.5b4d48d3mVzb2Z">
                    </span>
                                            <a rel="nofollow" title="电子营业执照" target="_blank"
                                               href="images/TB1CChlpwDqK1RjSZSyXXaxEVXa-1200-1672.jpg">
                                                <img class="footer__ft__img2" alt=""
                                                     src="images/TB1ZO80pyOYBuNjSsD4XXbSkFXa-141-41.png">
                                            </a>

                                            <a rel="nofollow" target="_blank"
                                               href="https://www.pcisecuritystandards.org/">
                                                <img src="images/TB1Y580pyOYBuNjSsD4XXbSkFXa-83-50.png"
                                                     class="footer__ft__img3">
                                            </a>
                                            <a rel="nofollow" target="_blank"
                                               href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1756737221">
                                                <img src="images/TB1pM_ZxNWYBuNjy1zkXXXGGpXa-114-40.png"
                                                     class="footer__ft__img4w">
                                            </a>
                                            <a target="_blank"
                                               href="https://search.szfw.org/cert/l/CX20130327002367002885"
                                               id="___szfw_logo___">
                                                <img class="footer__ft__img4"
                                                     src="images/TB1C4nNxTlYBeNjSszcXXbwhFXa-114-42.png">
                                            </a>
                                            <!--<script type="text/javascript">(function () {
                                                document.getElementById('___szfw_logo___').oncontextmenu = function () {
                                                    return false;
                                                }
                                            })();</script>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .sidebar {
                                top: 72.5%;
                            }

                            img {
                                border: 0;
                            }
                        </style>
                        <!--<script type="text/javascript"
                                src="https://g.alicdn.com/dt/tracker/3.5.4/??tracker.Tracker.js,tracker.interfaceTrackerPlugin.js,tracker.performanceTrackerPlugin.js"
                                crossorigin></script>
                        <script type="text/javascript">

                            var tracker = new window.Tracker({
                                pid: 'damaipc',
                                plugins: [
                                    [window.interfaceTrackerPlugin],
                                    [window.performanceTrackerPlugin]
                                ],
                            });

                            // 启动 tracker 并监听全局 JS 异常
                            tracker.install();
                        </script>-->

                    </div>
                    <!--module -->


                </div>

            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->

</div>

<!-- body end -->

<!-- seed start -->

<!-- seed end -->
<!-- page export scripts  -->

<!--<script>
    //mode:render
    window.define && define('@page/data', [], function (require, exports, module) {
        var page = {
            pageId: '193253',
            theme: '',
            backgroundColor: '',
            charset: 'utf-8',
            title: '中文登录',
            spmA: 'a211rg',
            spmB: '193253',
            keyword: '',
            description: '',
            hostname: '',
            env: 'production',
            deviceType: 'pc'
        };
        var modules = [];
        //block nav data
        try {
            modules = modules.concat(window.__tms_block_datas__.nav.modules);
        } catch (e) {
        }
        ;

        modules.push({
            id: "1012363",
            name: "kissy-login-top",
            attrs: [][0] || {},
            engine: "tce",
            fullName: 'upx/damai-mod/kissy-login-top',
            data: [{"moduleinfo": {"logo": "https://gw.alicdn.com/tfs/TB1TikIsAvoK1RjSZFDXXXY3pXa-230-104.png"}}][0] || {}
        });

        modules.push({
            id: "1013791",
            name: "kissy-login",
            attrs: [][0] || {},
            engine: "tce",
            fullName: 'upx/damai-mod/kissy-login',
            data: [{
                "moduleinfo": {
                    "gradientCenter": "#aa3c2f",
                    "imgHref": "https://p.damai.cn/wow/act/act/maidaojsj?wh_biz=tm",
                    "redirectUrl": "https://www.damai.cn/",
                    "loginUrl": "https://passport.damai.cn/dologin.htm",
                    "gradientStart": "#aa3c2f",
                    "forgetPwdUrl": "https://passport.damai.cn/login",
                    "language": "zh_cn",
                    "gradientEnd": "#aa3c2f",
                    "regUrl": "https://passport.damai.cn/register",
                    "imgSrc": "https://img.alicdn.com/tfs/TB1OasLsgHqK1RjSZJnXXbNLpXa-720-400.png",
                    "iframeUrl": "https://ipassport.damai.cn/mini_login.htm",
                    "platform": 106002
                }
            }][0] || {}
        });

        modules.push({
            id: "1022394",
            name: "kissy-pc-footer",
            attrs: [][0] || {},
            engine: "tce",
            fullName: 'upx/damai-mod/kissy-pc-footer',
            data: [{
                "moduleinfo": {},
                "txts": [{
                    "data_para": {"tce_vid": "0", "tce_sid": 2673210, "env": "online"},
                    "tms_type": "jsonp",
                    "data_type": "tceonline"
                }],
                "countinfo": {"txts": {"length_pc": 1, "length": 1}}
            }][0] || {}
        });

        //block footer data
        try {
            modules = modules.concat(window.__tms_block_datas__.footer.modules);
        } catch (e) {
        }
        ;
        module.exports = {
            page: page,
            modules: modules
        };
    });
</script>-->

<!--
<script src="//g.alicdn.com/code/npm/@ali/??straw/1.1.1/index.cmd.js,xctrl/7.2.4/xctrl-kissy.cmd.js,pi-kissy-pc/0.0.32/index.cmd.js,pi-kissy-pc/0.0.32/mod-base.cmd.js,xtemplate/4.5.0/runtime.cmd.js"></script>
<script src="//g.alicdn.com/damai-mod/??kissy-login-top/0.0.9/index.js,kissy-login/0.0.26/index.js,kissy-pc-footer/0.0.3/index.js"></script>
-->


<!-- page export scripts end -->
<!-- init scripts start -->

<!--<script src="//g.alicdn.com/code/npm/@ali/init-kissy-pc/0.0.11/index.js"></script>-->

<!-- init scripts end -->
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //循环扫描，接收手机确定
        var xun=window.setInterval(function() {
                $.ajax({
                    type:'GET',
                    url:'denglu1',
                    success: function (obj) {
                        if(obj==1){
                            alert("进入...准备跳转页面")
                            location.href="zhuye.html";
                            window.clearInterval(xun);
                        }
                    }
                })},2000);

        $(".phone-code-select").toggle(function () {
            $(".phone-code-options").show();
        }, function () {
            $(".phone-code-options").hide();
        });
        /*区号*/
        $(".phone-code-options li").click(function () {
            var a = "<i class='iconfont'></i>";
            var b = "<img src=images/QQjt.png/>";
            var s = $(this).find(".phone-code-options-code").text();
            var neir = s + a + " " + b;
            $(".phone-code").html(neir);
        });
        /*切换登录方式*/
        $(".login-tabs-tab").click(function () {
            $(this).addClass('active');
            $(this).siblings('div').removeClass('active');
        });
        /*密码登录*/
        $(".mmdl").click(function () {
            window.clearInterval(xun);
            $(".login-password").show();
            $(".login-sms").hide();
            $(".qrcode-login").hide();
        });
        /*短信登录*/
        $(".dxdl").click(function () {
            $(".login-password").hide();
            $(".login-sms").show();
            $(".qrcode-login").hide();
        });
        /*扫码登录*/
        $(".smdl").click(function () {
            var xun=window.setInterval(function() {
                $.ajax({
                    type:'GET',
                    url:'denglu1',
                    success: function (obj) {
                        if(obj==1){
                            alert("进入...准备跳转页面")
                            location.href="zhuye.html";
                            window.clearInterval(xun);
                        }
                    }
                })},2000);

            $(".login-password").hide();
            $(".login-sms").hide();
            $(".qrcode-login").show();
        })
        $("#dengluyz").click(function(){
            var zh=$("#fm-login-id").val();
            var mm=$("#fm-login-password").val();
            $.get('dengluyanzheng',{YH_ZhangHao:zh,YH_MiMa:mm},function (result) {
                if(result==null||result==""){
                    $("#yz").html("账号或密码错误！");
                }else{
                    var uid=result[0].yH_ID;
                    $("#yz").html("");
                    location.href="ById?YH_ID="+uid;
                }

            },'json')
        })
    })
</script>
</body>
</html>