<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>地址管理首页</title>
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" CONTENT="no-store">
    <link rel="shortcut icon" type="image/x-icon" href="https://passport.damai.cn/images/favicon.ico"/>
    <link rel="stylesheet" href="css/shouhuodizhi.css"/>

    <link rel="stylesheet" href="css/shouhuodizhi1.css"/>
    <link rel="stylesheet" href="css/shouhuodizhi2.css"/>
    <link rel="stylesheet" href="css/shouhuodizhi3.css"/>
    <script type="text/javascript" src="https://passport.damai.cn/js/jquery-1.8.0.min.js"></script>
    <script src="https://sdui.damai.cn//damai_v2/common/js/public-min.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://passport.damai.cn/js/ui_v2.js"></script>


    <!--<script type="text/javascript">
        var currNavName = "nav_myEwallet";
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17883704-1']);
        _gaq.push(['_setDomainName', '.damai.cn']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            //ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>-->

    <!-- PHPStat Start -->
    <!--<script language="JavaScript">var _trackData = _trackData || [];</script>-->

    <!--<noscript>
        // <img src="https://tjat.damai.cn/phpstat/count/10000001/10000001.php" alt="PHPStatAnalytics"/>
    </noscript>-->

    <!--<script type="text/javascript">

        var _trackData = _trackData || [];

        _trackData.push(["addaction", "电子钱包-首页", "访问电子钱包-首页"]);
        $(function () {
            //$("#phpstat_js_id_10000001").src="https://tjat.damai.cn/phpstat/count/10000001/10000001.js";
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.id = "phpstat_js_id_10000001";
            script.charset = "utf-8";
            script.type = 'text/javascript';
            //script.src= 'https://tjat.damai.cn/phpstat/count/10000001/10000001.js';
            head.appendChild(script);
        });
    </script>-->

    <!--/PHPStat End -->
    <!--<script type="text/javascript" src="https://passport.damai.cn/local_js/source/address.js"></script>
    <script type="text/javascript" src="https://passport.damai.cn/js/pagination.js"></script>
    <script type="text/javascript" src="https://passport.damai.cn/local_js/source/utils.js"></script>-->
    <style>
        .per-edit-list dl {
            margin: 0 0 1px;
        }

        .btn05 {
            *background-position: -245px -93px;
        }

        .btn04 {
            *background-position: -146px 0;
        }
    </style>
    <link rel="stylesheet" href="css/shouhuodizhi4.css"/>
</head>

<body>
<!--<script>
    with (document) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("exparams", "category=&userid=&aplus&yunid=&e7b53d993a66e&trid=0bfa17f415447522901994181e136a&asid=AQAAAACiDBNcOAvzBQAAAAAlAJHqFcBoYQ==", id = "tb-beacon-aplus", src = (location > "https" ? "//g" : "//g") + ".alicdn.com/alilog/mlog/aplus_v2.js")
</script>-->


<!--ems start-->

<!-- 原头部 -->
<!--<div class="dm-header-wrap">
    <div class="dm-header-box" data-spm="top">
        <a href="//www.damai.cn"><img class="i-logo" src="//gw.alicdn.com/tfs/TB1TikIsAvoK1RjSZFDXXXY3pXa-230-104.png"
                                      alt="大麦"/></a>
        <div class="location-header">
            <img class="i-icon-location" src="//img.alicdn.com/tfs/TB1XHDuxNGYBuNjy0FnXXX5lpXa-28-32.png" alt="定位"/>
            <span class="city-location">全国</span>
            <img class="i-arrow-location" src="https://img.alicdn.com/tfs/TB1vnUBxStYBeNjSspaXXaOOFXa-20-12.png"
                 alt="箭头"/>
            <div class="city-header-wrap">
                <div class="city-header" data-spm="city">
                    <div class="now-city">
                        <span class="title-city">当前城市:</span>
                        <span class="name-city select-city">全国</span>
                    </div>
                    <div class="hot-city">
                        <span class="title-city">热门城市:</span>
                        <div class="list-other"></div>
                    </div>
                    <div class="other-city">
                        <span class="title-city">其他城市:</span>
                        <div class="list-other"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommend-header">
            <a href="//www.damai.cn" class="type-recommend select" data-spm="dhome">首页</a>
            <a href="//search.damai.cn/search.htm?order=1" class="type-recommend" data-spm="dcategory">分类</a>


        </div>
        <div class="right-header" data-spm="nick">
            <div class="box-header user-header">
                <a href="javascript:void(0)" class="J_userinfo_img" data-spm="duserinfo"><img
                        class="i-box-header i-user"
                        src="//img.alicdn.com/tfs/TB14UKCGQyWBuNjy0FpXXassXXa-54-54.png"/></a>
                <a href="//passport.damai.cn/accountinfo/myinfo" class="J_userinfo_name" data-spm="duserinfo">
                    <div class="span-box-header name-user"></div>
                </a>
                <div class="login-user show">
                    <span class="span-box-header span-user" data-spm="dlogin">登录</span>
                </div>
                <div class="list-wrap">
                    <div class="list-login">
                        <a href="//passport.damai.cn/accountinfo/myinfo" class="li-login select" data-spm="duserinfo">个人信息</a>
                        <a href="//my.damai.cn/account/accountSafe" class="li-login" data-spm="daccountsetting">账号设置</a>
                        <a href="//orders.damai.cn/orderList" class="li-login" data-spm="dordermanage">订单管理</a>
                        <a href="//www.damai.cn/redirect.aspx?type=logout" data-spm="dexit" class="li-login out-login">退出登录</a>
                    </div>
                </div>
            </div>
            <div class="box-header download-header">
                <img class="i-box-header i-download" src="//img.alicdn.com/tfs/TB1A9eIGKuSBuNjy1XcXXcYjFXa-54-54.png"
                     alt="下载"/>
                <span class="span-box-header">下载</span>
                <div class="ewm-download">
                    <img class="i-ewm" src="//img.alicdn.com/tfs/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png"/>
                </div>
            </div>
            <div class="box-header">
                <a href="//en.damai.cn/" data-spm="denglish">
                    <img class="i-box-header" src="//img.alicdn.com/tfs/TB13UKCGQyWBuNjy0FpXXassXXa-54-54.png"
                         alt="英文站"/>
                    <span class="span-box-header">English</span>
                </a>
            </div>
        </div>
        <div class="search-header" data-spm="searchtxt">
            <img class="i-search" src="//img.alicdn.com/tfs/TB1qv3jxGmWBuNjy1XaXXXCbXXa-34-36.png" alt="搜索"/>
            <input class="input-search" placeholder="搜索明星、演出、体育赛事" data-spm="dsearchbtn"/>
            <div class="btn-search" data-spm="dsearchbtn2">搜索</div>
            <div class="list-search-wrap">
                <div class="list-search">
                </div>
            </div>
        </div>

    </div>
</div>-->
<div class="dm-header-wrap">
    <div class="dm-header-box" data-spm="top">
        <a href="//www.damai.cn"><img class="i-logo" src="images/TB1TikIsAvoK1RjSZFDXXXY3pXa-230-104.png" alt="大麦"/></a>
        <!--全国-->
        <!--<div class="location-header" style="display:block">
            <img class="i-icon-location" src="images/TB1XHDuxNGYBuNjy0FnXXX5lpXa-28-32.png" alt="定位"/>
            <span class="city-location">全国</span>
            <img class="i-arrow-location" src="images/TB1vnUBxStYBeNjSspaXXaOOFXa-20-12.png" alt="箭头"/>
            <div class="city-header-wrap">
                <div class="city-header" data-spm="city">
                    <div class="now-city">
                        <span class="title-city">当前城市:</span>
                        <span class="name-city select-city">全国</span>
                    </div>
                    <div class="hot-city">
                        <span class="title-city">热门城市:</span>
                        <div class="list-other"></div>
                    </div>
                    <div class="other-city">
                        <span class="title-city">其他城市:</span>
                        <div class="list-other"></div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="recommend-header">
            <a href="//www.damai.cn" class="type-recommend select" data-spm="dhome">首页</a>
            <a href="//search.damai.cn/search.htm?order=1" class="type-recommend" data-spm="dcategory">分类</a>


        </div>
        <div class="right-header" data-spm="nick">
            <div class="box-header user-header">
                <a href="javascript:void(0)" class="J_userinfo_img" data-spm="duserinfo"><img
                        class="i-box-header i-user" src="images/TB14UKCGQyWBuNjy0FpXXassXXa-54-54.png"/></a>
                <a href="//passport.damai.cn/accountinfo/myinfo" class="J_userinfo_name" data-spm="duserinfo">
                    <div class="span-box-header name-user"></div>
                </a>
                <div class="login-user show">
                    <span class="span-box-header span-user" data-spm="dlogin">登录</span>
                </div>
                <div class="list-wrap">
                    <div class="list-login">
                        <a href="//passport.damai.cn/accountinfo/myinfo" class="li-login select" data-spm="duserinfo">个人信息</a>
                        <a href="//my.damai.cn/account/accountSafe" class="li-login" data-spm="daccountsetting">账号设置</a>
                        <a href="//orders.damai.cn/orderList" class="li-login" data-spm="dordermanage">订单管理</a>
                        <a href="//www.damai.cn/redirect.aspx?type=logout" data-spm="dexit" class="li-login out-login">退出登录</a>
                    </div>
                </div>
            </div>
            <div class="box-header download-header">
                <img class="i-box-header i-download" src="images/TB1A9eIGKuSBuNjy1XcXXcYjFXa-54-54.png" alt="下载"/>
                <span class="span-box-header">下载</span>
                <div class="ewm-download">
                    <img class="i-ewm" src="images/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png"/>
                </div>
            </div>
            <div class="box-header">
                <a href="//en.damai.cn/" data-spm="denglish">
                    <img class="i-box-header" src="images/TB13UKCGQyWBuNjy0FpXXassXXa-54-54.png" alt="英文站"/>
                    <span class="span-box-header">English</span>
                </a>
            </div>
        </div>
        <div class="search-header" data-spm="searchtxt">
            <img class="i-search" src="images/TB1qv3jxGmWBuNjy1XaXXXCbXXa-34-36.png" alt="搜索"/>
            <input class="input-search" placeholder="搜索明星、演出、体育赛事" data-spm="dsearchbtn"/>
            <div class="btn-search" data-spm="dsearchbtn2">搜索</div>
            <div class="list-search-wrap">
                <div class="list-search">
                </div>
            </div>
        </div>

    </div>
</div>
<!--ems end-->

<div class="red-line"></div>
<!--main-->
<div class="main">
    <!--left of start-->
    <div class="sidenav">
        <div id="mydamai">
            <h3>我的大麦</h3>
            <dl>
                <dt>交易中心</dt>
                <dd><a id="nav_Order" href="http://order.damai.cn/index.aspx" title="订单管理"
                       domain=""><span>订单管理</span></a></dd>

                <dd><a id="nav_myCoupon" href="http://coupon.damai.cn/coupon-web-damai/mycoupon/myCoupon" title="我的优惠券"
                       domain=""><span>我的优惠券</span></a></dd>


                <dl>
                    <!--
                    <dt>互动中心</dt>
                        <dd><a id="nav_MessCenter" href="http://my.damai.cn/interaction/siteMessage" title="站内消息"  domain=""><span >站内消息</span></a></dd>
                        <dd><a id="nav_MyComment" href="http://my.damai.cn/interaction/myComment" title="我的评论"  domain=""><span >我的评论</span></a></dd>
                        <dd><a id="nav_MyQuestion" href="http://my.damai.cn/interaction/myQuestion" title="我的提问"  domain=""><span >我的提问</span></a></dd></dl>
                    <dl>
                    -->
                    <dt>账户中心</dt>
                    <dd><a id="nav_MyAddress" href="https://passport.damai.cn/addressManage/myAddress" title="收货地址"
                           domain=""><span>收货地址</span></a></dd>
                    <dd><a id="nav_AccountSafty" href="https://passport.damai.cn/accountinfo/accountsetting"
                           title="账号设置" domain=""><span>账号设置</span></a></dd>

                    <dd><a id="nav_MyInfo" href="https://passport.damai.cn/accountinfo/myinfo" title="个人信息"
                           domain=""><span>个人信息</span></a></dd>

                    <dd><a id="nav_MyInfo" href="https://passport.damai.cn/customerManage/customerManageIndex"
                           title="常用购票人" domain=""><span>常用购票人</span></a></dd>
                </dl>

                <!--<script type='text/javascript'>
                    (function () {
                        document.getElementById('mydamai').style.display = 'none';
                        var object = document.getElementById('nav_' + currNavName);
                        if (object) object.className += ' on';
                        document.getElementById('mydamai').style.display = '';
                    })();
                </script>-->
        </div>
    </div>

    <!--left of end-->
    <!--right of start-->
    <div class="right-main">
        <div class="breadcrumb"><span>地址管理</span></div>
        <input type="hidden" name="pageSize" id="pageSize" value="5"></input>
        <input type="hidden" name="status" id="status" value=""></input>
        <div class="m_add mb10 clear">
            <!--         	<label class="fl"> -->
            <!-- 				<a id="allAddressInfoTab" onclick="Switching(3)" >全部</a> -->
            <!--             	<span class="i1"></span> -->
            <!--             	<a   id="verifyAddressInfoTab" onclick="Switching(2)">已验证地址</a> -->
            <!--             	<span class="i1"></span> -->
            <!--             	<a id="noVerifyAddressInfoTab" onclick="Switching(1)">未验证地址</a> -->
            </label>
            <label class="fr"><a href="#" onclick="creatnewAddress();" class="m_add_cj">创建新地址</a></label>
        </div>
        <div class="item-s01 mb10 m_bj1 z-hide" id="creatNewAddress">
            <div class="content per-edit-list per-wd02 m_add_c">
                <dl>
                    <dt class="w80 tr fl"><span class="c4">*</span>地址别名：</dt>
                    <dd class="fl"><input type="text" class="input-text" value="新建地址" id="c_addressName"
                                          name=""></input><span id="c_nameMsg" style="color:red"></span></dd>

                </dl>
                <dl>
                    <dt class="w80 tr fl"><span class="c4">*</span>收&nbsp;件&nbsp;人：</dt>
                    <dd class="fl"><input type="text" class="input-text" id="c_recipientName" name=""></input>
                        <span id="c_recipientMsg" style="color:red"></span></dd>
                </dl>
                <dl>
                    <dt class="w80 tr fl"><span class="c4">*</span>手机：</dt>
                    <dd class="fl"><input type="text" class="input-text" id="c_mobile"></input>
                        <span id="c_mobileMsg" style="color:red"></span></dd>
                </dl>
                <dl>
                    <dt class="w80 tr fl">座机：</dt>
                    <dd class="fl">
                        <input type="text" class="input-text" id="c_telephone">


                        <span id="c_telephoneMsg" style="color:red"></span>
                    </dd>
                </dl>
                <dl>
                    <dt><span class="c4">*</span>配送地址：</dt>
                    <dd>
                        <p style="height:40px;">
                            <select class="sel-4" name="ProvinceSelect" id="ProvinceSelect"
                                    onchange="getSubCity(this.value);"></select>&nbsp;省&nbsp;
                            <select class="sel-4" name="citySelect" id="citySelect"
                                    onchange="getSubCountry(this.value);">
                                <option value='-1'>--请选择--</option>
                            </select>&nbsp;市&nbsp;
                            <select class="sel-4" name="countrySelect" id="countrySelect"
                                    onchange="getSubStreet(this.value);">
                                <option value='-1'>--请选择--</option>
                            </select>&nbsp;区&nbsp;
                            <select class="sel-4" name="streetSelect" id="streetSelect">
                                <option value='-1'>--请选择--</option>
                            </select>&nbsp;街道&nbsp;
                            <br>
                            <span id="c_peisongMsg" style="color:red"></span>
                        </p>
                        <p class="mt15" style="height:40px;">
                            <input type="text" name="" id="c_distributionDeatilInfo" class="input-text-1"
                                   style="width:400px;"></input><span class="per-txt">不需要重复填写省/市/区/街道</span>
                            <br>
                            <span id="c_peisongMsg1" style="color:red"></span>
                        </p>
                    </dd>
                </dl>
                <!--
                <dl>
                    <dt>邮政编码：</dt>
                    <dd><input type="text" class="input-text-2" id="c_zipCode" name="" value=""></input><span id="c_zipCodeMsg" style="color:red"></span></dd>

                </dl>
                -->
                <!-- <dl>
                    <dt>身份证号码：</dt>
                    <dd><input type="text" class="input-text-2" id="c_idCard" name="" value=""></input><span >仅用于购买身份证电子票</span><span id="c_idCardMsg" style="color:red"></span></dd>

                </dl> -->
                <!--
                <dl>
                    <dt>邮箱：</dt>
                    <dd><input type="text" class="input-text-2" id="c_email" name="" value=""></input><span >使用该地址下单订单信息将发往此邮箱</span><span id="c_emailMsg" style="color:red"></span></dd>

                </dl>
                -->
                <p class="per-all-t clear">
                    <input type="text" id="c_token" name="" value="" style="display:none">
                    <button id="saveCreate" onclick="saveCreate();" class="btn05 fl">保存地址</button>
                    <button id="cancleCreate" onclick="cancleCreate();" class="btn04 fl" style="margin:3px 0 0 20px;">
                        取消
                    </button>
                </p>
            </div>
        </div>
        <div class="m_add_c" id="adressInfos">
            <ul>
                <li class="m_c2">
                    <h2 class="f13 c1 mt10 ml10" data-spm-anchor-id="0.0.0.i1.70c11c69BeTnLD"><strong
                            data-spm-anchor-id="0.0.0.i0.70c11c69BeTnLD">新建地址</strong>
                        <p class="fr"><a href="#" onclick="modifyAddress(88722639);" class="fl mr10 m_c3">修改</a><span
                                class="m_c0 fl mr10">|</span><a href="#" class="fl mr10 m_c3"
                                                                onclick="deleteAddressById(88722639);">删除</a></p></h2>
                    <dl class="m_add_dl">
                        <dd>张尼玛 13111111111</dd>
                        <dd style="width:580px;word-break:break-all;">北京 北京市 东城区 龙潭街道科技馆科技馆及</dd>
                    </dl>
                    <a href="#" class="m_close_two"><strong>首选地址</strong></a>
                    <p class="m_add_p mt10 pt10 m_line">下单时默认使用此地址作为收货地址，您可以在订单确认时选用其他地址。 <a
                            href="http://help.damai.cn/damai/contents/289/5969.html" target="_blank"
                            class="m_c3">了解详细信息</a></p>
                    <div class="content per-edit-list per-wd02" id="modify88722639" style="display:none;"><h2
                            class="f14 c1 mt10 ml10"><strong>修改地址</strong></h2>
                        <dl>
                            <dt class="w80 tr fl"><span class="c4">*</span>地址别名：</dt>
                            <dd class="fl"><input type="hidden" id="modifyPrepStatus88722639"> <input type="text"
                                                                                                      id="modifyName88722639"
                                                                                                      class="input-text"
                                                                                                      name=""><span
                                    id="m_nameMsg88722639" style="color:red"></span></dd>
                        </dl>
                        <dl>
                            <dt class="w80 tr fl"><span class="c4">*</span>收&nbsp;件&nbsp;人：</dt>
                            <dd class="fl"><input type="text" id="modifyPersonShow88722639" class="input-text"
                                                  name=""><span id="m_recipientMsg88722639"
                                                                style="color:red"></span><input type="hidden"
                                                                                                id="modifyPerson88722639"
                                                                                                class="input-text"
                                                                                                name=""></dd>
                        </dl>
                        <dl>
                            <dt class="w80 tr fl"><span class="c4">*</span>手机：</dt>
                            <dd class="fl"><input type="text" id="modifyMobileShow88722639" class="input-text"
                                                  name=""><span id="m_mobileMsg88722639" style="color:red"></span><input
                                    type="hidden" id="modifyMobile88722639" class="input-text" name=""></dd>
                        </dl>
                        <dl>
                            <dt class="w80 tr fl">座机：</dt>
                            <dd class="fl"><input type="text" id="modifyTelephone88722639" class="input-text" name="">
                                <span id="m_telephoneMsg88722639" style="color:red"></span></dd>
                        </dl>
                        <dl>
                            <dt><span class="c4">*</span>配送地址：</dt>
                            <dd>
                                <p><select class="sel-4" id="MProvinceSelect88722639" name=""
                                           onchange="getMSubCity(this.value,88722639);">
                                    <option></option>
                                </select>&nbsp;省&nbsp;<select class="sel-4" id="McitySelect88722639"
                                                              onchange="getMSubCountry(this.value,88722639);"
                                                              name=""></select>&nbsp;市&nbsp;<select class="sel-4"
                                                                                                    id="McountrySelect88722639"
                                                                                                    name=""
                                                                                                    onchange="getMSubStreet(this.value,88722639);">
                                    <option></option>
                                </select>&nbsp;区&nbsp; <select class="sel-4" id="MstreetSelect88722639" name="">
                                    <option></option>
                                </select>&nbsp;街道&nbsp; <br> <span id="m_peisongMsg88722639" style="color:red"></span>
                                </p>
                                <p class="mt15"><input type="text" id="modifyAddressDetail88722639" name=""
                                                       class="input-text-1"><span id="m_peisongMsg188722639"
                                                                                  style="color:red"></span></p></dd>
                        </dl>
                        <p class="per-all-t clear">
                            <button id="saveModifyButton88722639" onclick="saveModifyAddress(88722639)"
                                    class="btn05 fl">保存地址
                            </button>
                            <button class="btn04 fl" onclick="cancleModify(88722639);" style="margin:3px 0 0 20px;">取消
                            </button>
                        </p>
                    </div>
                </li>
                <li class="m_c2">
                    <h2 class="f13 c1 mt10 ml10"><strong>新建地址</strong>
                        <p class="fr"><a href="#" onclick="addressAsPreferred(88694771,&quot;新建地址&quot;);"
                                         class="fl mr10 m_c3">设为首选</a><span class="m_c0 fl mr10">|</span> <a
                                onclick="modifyAddress(88694771);" href="#" class="fl mr10 m_c3">修改</a><span
                                class="m_c0 fl mr10">|</span> <a href="#" class="fl mr10 m_c3"
                                                                 onclick="deleteAddressById(88694771);">删除</a></p></h2>
                    <dl class="m_add_dl">
                        <dd>尼玛张 13222222222 1234567</dd>
                        <dd style="width:580px;word-break:break-all;">福建省 福州市 台江区 茶亭街道 而且阿凡达</dd>
                    </dl>
                    <a href="#" class="m_close_two"><strong></strong></a>
                    <div class="content per-edit-list per-wd02" id="modify88694771" style="display:none;"><h2
                            class="f14 c1 mt10 ml10"><strong>修改地址</strong></h2>
                        <dl>
                            <dt class="w80 tr fl"><span class="c4">*</span>地址别名：</dt>
                            <dd class="fl"><input type="hidden" id="modifyPrepStatus88694771"> <input type="text"
                                                                                                      id="modifyName88694771"
                                                                                                      class="input-text"
                                                                                                      name=""><span
                                    id="m_nameMsg88694771" style="color:red"></span></dd>
                        </dl>
                        <dl>
                            <dt class="w80 tr fl"><span class="c4">*</span>收&nbsp;件&nbsp;人：</dt>
                            <dd class="fl"><input type="text" id="modifyPersonShow88694771" class="input-text"
                                                  name=""><span id="m_recipientMsg88694771"
                                                                style="color:red"></span><input type="hidden"
                                                                                                id="modifyPerson88694771"
                                                                                                class="input-text"
                                                                                                name=""></dd>
                        </dl>
                        <dl>
                            <dt class="w80 tr fl"><span class="c4">*</span>手机：</dt>
                            <dd class="fl"><input type="text" id="modifyMobileShow88694771" class="input-text"
                                                  name=""><span id="m_mobileMsg88694771" style="color:red"></span><input
                                    type="hidden" id="modifyMobile88694771" class="input-text" name=""></dd>
                        </dl>
                        <dl>
                            <dt class="w80 tr fl">座机：</dt>
                            <dd class="fl"><input type="text" id="modifyTelephone88694771" class="input-text" name="">
                                <span id="m_telephoneMsg88694771" style="color:red"></span></dd>
                        </dl>
                        <dl>
                            <dt><span class="c4">*</span>配送地址：</dt>
                            <dd>
                                <p><select class="sel-4" id="MProvinceSelect88694771" name=""
                                           onchange="getMSubCity(this.value,88694771);">
                                    <option></option>
                                </select>&nbsp;省&nbsp;<select class="sel-4" id="McitySelect88694771"
                                                              onchange="getMSubCountry(this.value,88694771);"
                                                              name=""></select>&nbsp;市&nbsp;<select class="sel-4"
                                                                                                    id="McountrySelect88694771"
                                                                                                    name=""
                                                                                                    onchange="getMSubStreet(this.value,88694771);">
                                    <option></option>
                                </select>&nbsp;区&nbsp; <select class="sel-4" id="MstreetSelect88694771" name="">
                                    <option></option>
                                </select>&nbsp;街道&nbsp; <br> <span id="m_peisongMsg88694771" style="color:red"></span>
                                </p>
                                <p class="mt15"><input type="text" id="modifyAddressDetail88694771" name=""
                                                       class="input-text-1"><span id="m_peisongMsg188694771"
                                                                                  style="color:red"></span></p></dd>
                        </dl>
                        <p class="per-all-t clear">
                            <button id="saveModifyButton88694771" onclick="saveModifyAddress(88694771)"
                                    class="btn05 fl">保存地址
                            </button>
                            <button class="btn04 fl" onclick="cancleModify(88694771);" style="margin:3px 0 0 20px;">取消
                            </button>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div id="detailPagination" class="pagination"></div>
    </div>
    <!--right of end-->
</div>


<!--操作确认-安全中心提示-->
<div class="pop-8 dm-layer-box din" id="test">
    <div class="dm-layer">
        <div class="hd">
            <h3><strong>操作确认</strong></h3>
            <a href="#" class="close"></a>
        </div>
        <div class="mydm-userinfo">
            <div class="useri-tb t-c">
                <p class="f14"><strong>确认删除 <span id="delNoUsedAddressName"></span>？</strong></p>

                <input type="hidden" name="delNoUsedAddressId" id="delNoUsedAddressId"></input>
                <button class="btn01 mt20" type="submit" onclick="sureDeleteAddress(1);">确定</button>
                <button class="btn04 ml20" name="aa">取消</button>
            </div>
        </div>
    </div>
</div>


<!--操作确认-安全中心提示2-->
<div class="pop-9 dm-layer-box din">
    <div class="dm-layer">
        <div class="hd">
            <h3><strong>操作确认</strong></h3>
            <a href="#" class="close"></a>
        </div>
        <div class="mydm-userinfo">
            <div class="useri-tb t-c">
                <p class="f14"><strong>确认删除已验证地址 <span id="delUsedAddressName"></span>？</strong></p>
                <input type="hidden" name="delUsedAddressId" id="delUsedAddressId"></input>
                <p class="mt10"><span class="m_c4 mr5">*</span>删除后重新添加该地址为“已验证”地址信息需要再次验证。</p>
                <button class="btn01 mt20" type="submit" onclick="sureDeleteAddress(2);">确定</button>
                <button class="btn04 ml20" name="aa">取消</button>
            </div>
        </div>
    </div>
</div>


<!--操作确认-失败原因-->
<div class="pop-10 dm-layer-box din" id="test">
    <div class="dm-layer">
        <div class="hd">
            <h3><strong>操作确认</strong></h3>
            <a href="#" class="close"></a>
        </div>
        <div class="mydm-userinfo">
            <div class="useri-tb t-c">
                <p class="f14"><strong>失败原因：首选地址不能删除！</strong></p>
                <p class="mt10"><span class="m_c4 mr5">*</span>您可以修改该地址，或设置其他地址为首选后再进行删除操作。</p>
                <button class="btn01 mt20" type="submit" name="bb">确定</button>
                <button class="btn04 ml20" name="bb">取消</button>
            </div>
        </div>
    </div>
</div>


<!--操作确认-默认首选地址-->
<div class="pop-6 dm-layer-box din">
    <div class="dm-layer">
        <div class="hd">
            <h3><strong>操作确认</strong></h3>
            <a href="#" class="close"></a>
        </div>
        <div class="mydm-userinfo">
            <div class="useri-tb t-c">
                <p class="f14"><strong>确认将 <span id="preferredAddressShow"></span> 设为首选地址？</strong></p>
                <input type="hidden" name="preferredAddressId" id="preferredAddressId"></input>
                <p class="mt10"><span class="m_c4 mr5">*</span>下单时将默认使用“首选地址”作为收货地址。</p>
                <button class="btn01 mt20" onclick="SetupPreferred();">确定</button>
                <button class="btn04 ml20" name="aa">取消</button>
            </div>
        </div>
    </div>
</div>

<!--ems start-->


<div class="dm-footer">
    <div class="w1200">
        <ul class="footer__links">

            <li class="footer__links__list"><a href="//help.damai.cn" target="_blank" data-spm="flink0">帮助中心</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=69&amp;categoryId=30" target="_blank"
                    data-spm="flink1">公司介绍</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=70&amp;categoryId=30" target="_blank"
                    data-spm="flink2">品牌识别</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=72&amp;categoryId=30" target="_blank"
                    data-spm="flink3">公司大事记</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=40&amp;categoryId=14" target="_blank"
                    data-spm="flink4">隐私权专项政策</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;jubao.alibaba.com&#x2F;internet&#x2F;readme.htm?spm=a2o6e.search.0.0.72f44d15Votov6&amp;site=damai"
                    target="_blank" data-spm="flink5">廉正举报</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=58&amp;categoryId=5" target="_blank"
                    data-spm="flink6">联系合作</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;job.alibaba.com&#x2F;zhaopin&#x2F;positionList.htm?keyWord=JXU1OTI3JXU5RUE2&amp;_input_charset=UTF-8"
                    target="_blank" data-spm="flink7">招聘信息</a></li>
            <li class="footer__links__grep">|</li>

            <li class="footer__links__list"><a
                    href="&#x2F;&#x2F;x.damai.cn&#x2F;markets&#x2F;special&#x2F;fangzhapian?spm=a2o6e.home.0.0.75df48d3hqGWGD&amp;wh_ttid=pc"
                    target="_blank" data-spm="flink8">防骗秘籍</a></li>


        </ul>
        <!-- 原底部 -->
        <!--<div class="footer__ft">
            <div class="footer__ft_fl">
                <a href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B" target="_blank" class="footer__ft__logo">
                    <img src="https://gw.alicdn.com/tfs/TB17qoDszTpK1RjSZKPXXa3UpXa-167-60.png" alt="">
                </a>
                <div class="footer__ft__code__box">
                    <img class="footer__ft__code" src="//img.alicdn.com/tfs/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png"
                         alt="">
                    <span>APP下载</span>
                </div>
            </div>
            <div class="footer__ft_fr">
                <div class="footer__fr__contact">

                    <a style="margin-left:0;" href="//online.damai.cn/alime/index?from=damai_pc_item&v=3"
                       class="footer__fr__contact__btn alime">在线客服</a>
                </div>
                <ul class="footer__ft__words">
                    <li class="footer__ft__certificate"><a
                            href="http://www.miitbeian.gov.cn?spm=a2o6e.home.0.0.5b4d48d3mVzb2Z" target="_blank">京ICP证031057号</a>
                    </li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备11043884号</a>
                    </li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a
                            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102000430"
                            target="_blank">京公网安备11010102000430号</a>
                    </li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a
                            href="//img.alicdn.com/tfs/TB1K9r6xN9YBuNjy0FfXXXIsVXa-1152-799.jpg" target="_blank">广播电视节目制作经营许可证
                        (京)字第02253号</a></li>
                </ul>
                <ul class="footer__ft__words">
                    <li class="footer__ft__certificate"><a
                            href="//img.alicdn.com/tfs/TB1AsH4xH9YBuNjy0FgXXcxcXXa-1420-1032.jpg" target="_blank">网络文化经营许可证
                        京网文[2016]3438-413号</a></li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a
                            href="//img.alicdn.com/tfs/TB1DfD6CxGYBuNjy0FnXXX5lpXa-1079-1527.jpg" target="_blank">营业性演出许可证
                        京市演587号</a></li>
                </ul>
                <ul class="footer__ft__words">
                    <li class="footer__ft__certificate">北京红马传媒文化发展有限公司 版权所有</li>
                    <li class="footer__ft__certificate"><a
                            href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B">大麦网</a></li>
                    <li>Copyright 2003-2018 All Rights Reserved</li>
                </ul>
                <div class="footer__ft__img">
                    <span id="siteseal">
                    <script async="" type="text/javascript">
                            function verifySeal() {
                                var bgHeight = "null";
                                var bgWidth = "593";
                                var url = "https:\/\/seal.godaddy.com\/verifySeal?sealID=LU6rXPgk5BZ67ZEYpYS2JcN3AyCJOs6aD3HBo4dwA3iGeqp6csKFmqgB0zLL";
                                window.open(url, 'SealVerfication', 'menubar=no,toolbar=no,personalbar=no,location=yes,status=no,resizable=yes,fullscreen=no,scrollbars=no,width=' + bgWidth + ',height=' + bgHeight);
                            }
                    </script>
                    <img style="cursor:pointer;cursor:hand" class="footer__ft__img1"
                         src="//img.alicdn.com/tfs/TB1gw_ZxNWYBuNjy1zkXXXGGpXa-131-32.gif"
                         onclick="verifySeal();" alt="SSL site seal - click to verify"
                         data-spm-anchor-id="a2o6e.home.0.i1.5b4d48d3mVzb2Z">
                    </span>
                    <a rel="nofollow" title="电子营业执照" target="_blank"
                       href="//img.alicdn.com/tfs/TB1CChlpwDqK1RjSZSyXXaxEVXa-1200-1672.jpg">
                        <img class="footer__ft__img2" alt=""
                             src="//img.alicdn.com/tfs/TB1ZO80pyOYBuNjSsD4XXbSkFXa-141-41.png">
                    </a>

                    <a rel="nofollow" target="_blank" href="https://www.pcisecuritystandards.org/">
                        <img src="//img.alicdn.com/tfs/TB1Y580pyOYBuNjSsD4XXbSkFXa-83-50.png" class="footer__ft__img3">
                    </a>
                    <a rel="nofollow" target="_blank"
                       href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1756737221">
                        <img src="//img.alicdn.com/tfs/TB1pM_ZxNWYBuNjy1zkXXXGGpXa-114-40.png"
                             class="footer__ft__img4w">
                    </a>
                    <a target="_blank" href="https://search.szfw.org/cert/l/CX20130327002367002885"
                       id="___szfw_logo___">
                        <img class="footer__ft__img4" src="//img.alicdn.com/tfs/TB1C4nNxTlYBeNjSszcXXbwhFXa-114-42.png">
                    </a>
                    <script type="text/javascript">(function () {
                        document.getElementById('___szfw_logo___').oncontextmenu = function () {
                            return false;
                        }
                    })();</script>
                </div>
            </div>
        </div>-->
        <div class="footer__ft">
            <div class="footer__ft_fl">
                <a href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B" target="_blank" class="footer__ft__logo">
                    <img src="images/TB17qoDszTpK1RjSZKPXXa3UpXa-167-60.png" alt="">
                </a>
                <div class="footer__ft__code__box">
                    <img class="footer__ft__code" src="images/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png" alt="">
                    <span>APP下载</span>
                </div>
            </div>
            <div class="footer__ft_fr">
                <div class="footer__fr__contact">

                    <a style="margin-left:0;" href="//online.damai.cn/alime/index?from=damai_pc_item&v=3"
                       class="footer__fr__contact__btn alime">在线客服</a>
                </div>
                <ul class="footer__ft__words">
                    <li class="footer__ft__certificate"><a
                            href="http://www.miitbeian.gov.cn?spm=a2o6e.home.0.0.5b4d48d3mVzb2Z" target="_blank">京ICP证031057号</a>
                    </li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备11043884号</a>
                    </li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a
                            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102000430"
                            target="_blank">京公网安备11010102000430号</a>
                    </li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a href="images/TB1K9r6xN9YBuNjy0FfXXXIsVXa-1152-799.jpg"
                                                           target="_blank">广播电视节目制作经营许可证
                        (京)字第02253号</a></li>
                </ul>
                <ul class="footer__ft__words">
                    <li class="footer__ft__certificate"><a
                            href="images/TB1AsH4xH9YBuNjy0FgXXcxcXXa-1420-1032.jpg" target="_blank">网络文化经营许可证
                        京网文[2016]3438-413号</a></li>
                    <li class="footer__ft__grep">|</li>
                    <li class="footer__ft__certificate"><a href="images/TB1DfD6CxGYBuNjy0FnXXX5lpXa-1079-1527.jpg"
                                                           target="_blank">营业性演出许可证
                        京市演587号</a></li>
                </ul>
                <ul class="footer__ft__words">
                    <li class="footer__ft__certificate">北京红马传媒文化发展有限公司 版权所有</li>
                    <li class="footer__ft__certificate"><a
                            href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B">大麦网</a></li>
                    <li>Copyright 2003-2018 All Rights Reserved</li>
                </ul>
                <div class="footer__ft__img">
                    <span id="siteseal">
                    <!--<script async="" type="text/javascript">
                            function verifySeal() {
                                var bgHeight = "null";
                                var bgWidth = "593";
                                var url = "https:\/\/seal.godaddy.com\/verifySeal?sealID=LU6rXPgk5BZ67ZEYpYS2JcN3AyCJOs6aD3HBo4dwA3iGeqp6csKFmqgB0zLL";
                                window.open(url, 'SealVerfication', 'menubar=no,toolbar=no,personalbar=no,location=yes,status=no,resizable=yes,fullscreen=no,scrollbars=no,width=' + bgWidth + ',height=' + bgHeight);
                            }
                    </script>-->
                    <img style="cursor:pointer;cursor:hand" class="footer__ft__img1"
                         src="images/TB1gw_ZxNWYBuNjy1zkXXXGGpXa-131-32.gif"
                         onclick="verifySeal();" alt="SSL site seal - click to verify"
                         data-spm-anchor-id="a2o6e.home.0.i1.5b4d48d3mVzb2Z">
                    </span>
                    <a rel="nofollow" title="电子营业执照" target="_blank"
                       href="images/TB1CChlpwDqK1RjSZSyXXaxEVXa-1200-1672.jpg">
                        <img class="footer__ft__img2" alt="" src="images/TB1ZO80pyOYBuNjSsD4XXbSkFXa-141-41.png">
                    </a>

                    <a rel="nofollow" target="_blank" href="https://www.pcisecuritystandards.org/">
                        <img src="images/TB1Y580pyOYBuNjSsD4XXbSkFXa-83-50.png" class="footer__ft__img3">
                    </a>
                    <a rel="nofollow" target="_blank"
                       href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1756737221">
                        <img src="images/TB1pM_ZxNWYBuNjy1zkXXXGGpXa-114-40.png" class="footer__ft__img4w">
                    </a>
                    <a target="_blank" href="https://search.szfw.org/cert/l/CX20130327002367002885"
                       id="___szfw_logo___">
                        <img class="footer__ft__img4" src="images/TB1C4nNxTlYBeNjSszcXXbwhFXa-114-42.png">
                    </a>
                    <!--<script type="text/javascript">(function () {
                        document.getElementById('___szfw_logo___').oncontextmenu = function () {
                            return false;
                        }
                    })();</script>-->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .sidebar {
        top: 72.5%;
    }

    img {
        border: 0;
    }
</style>
<!--<script type="text/javascript"
        src="https://g.alicdn.com/dt/tracker/3.5.4/??tracker.Tracker.js,tracker.interfaceTrackerPlugin.js,tracker.performanceTrackerPlugin.js"
        crossorigin></script>-->
<!--<script type="text/javascript">

    var tracker = new window.Tracker({
        pid: 'damaipc',
        plugins: [
            [window.interfaceTrackerPlugin],
            [window.performanceTrackerPlugin]
        ],
    });

    // 启动 tracker 并监听全局 JS 异常
    tracker.install();
</script>-->

<!--<script src="//g.alicdn.com/mtb/lib-mtop/2.3.16/mtop.js"></script>
<script data-config="{combine:true}" src="//g.alicdn.com/kissy/k/6.2.4/seed.js"></script>
<script src="//g.alicdn.com/damai/pc/1.0.3/p/head/index.js"></script>-->
<!--ems end-->

</body>
</html>
