<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <!--<meta name="spm-id" content="a2o71.12137763">
    <meta name="keywords" content="">
    <meta name="description" content="">-->
    <!--<link rel="shortcut icon" href="//gw.alicdn.com/tfs/TB1fGH0fgMPMeJjy1XcXXXpppXa-16-16.ico" type="image/x-icon">-->
    <!--<script src="//g.alicdn.com/mui/zebra-dm-utils/4.0.25/index-pc.js"></script>-->
    <link rel="stylesheet" href="css/tiyupindao-tuijian.css"/>
    <title>现场看CBA上大麦体育</title>
    <link rel="stylesheet" href="css/tiyupindao-tuijian1.css"/>
    <!--<script>window.g_config = window.g_config || {};
    window.g_config.loadedCss = window.g_config.loadedCss || [];
    window.g_config.loadedCss = ["mui/zebra-act-headbanner4/index-pc.css", "mui/zebra-dm-image-six/index-pc.css"];</script>-->
</head>

<body>
<!--<script>
    with (document) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("exparams", "category=&userid=&aplus&yunid=&&asid=AQAAAAAdWBZc7qEIcwAAAABOtDie7scqlQ==", id = "tb-beacon-aplus", src = (location > "https" ? "//g" : "//g") + ".alicdn.com/alilog/mlog/aplus_v2.js")
</script>-->

<!--页面头部 start-->
<div class="top-s">
    <div class="top-con">
        <ul class="fl">
            <li class="dm-info" id="headerUserinfo"><span class="dm-name">HI, 欢迎来大麦</span>[
                <a class="dm-login" title="登录" href="//www.damai.cn/redirect.aspx?type=login" target="_blank">登录</a>
                <a class="dm-register" title="注册" href="//passport.damai.cn/register" target="_blank">注册</a>]
            </li>
            <li class="mydm">
                <div class="dm-t mydm-t">
                    <a target="_blank" href="//my.damai.cn/">我的大麦</a><b></b></div>
                <div class="dm-c mydm-c">
                    <a title="个人信息" target="_blank" href="//my.damai.cn/account/myinfo.aspx">个人信息</a>
                    <a title="订单管理" target="_blank" href="//order.damai.cn/index.aspx">订单管理</a>
                    <!--<a title="我的钱包" target="_blank" href="//my.damai.cn/trade/ewallet/myEwallet.aspx">我的钱包</a>-->
                    <!--<a target="_blank" href="//my.damai.cn/account/mysubscribe">我的订阅</a>-->
                    <a title="我的优惠券" target="_blank" href="https://coupon.damai.cn/coupon-web-damai/mycoupon/myCoupon">我的优惠券</a>
                </div>
            </li>
            <li class="myorder">
                <div class="dm-t mydm-t">
                    <a target="_blank" href="//order.damai.cn/index.aspx">我的订单</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="top-ad">
    <a href="#" class="top-ad-close ad-close"></a>
    <div id="PAGE_AD_1"></div>
</div>

<!--页面头部 end-->


<!--<style>#J_6397266423 .zebra-dm-image-six .head {
    border-bottom: 2px solid #ed0a75
}

#J_6397266423 .zebra-dm-image-six .head-arrow {
    background-color: #ed0a75
}</style>-->


<div class="mui-zebra-page">
    <!-- 顶端大图 -->
    <div class="mui-zebra-module" id="J_2132927551">

        <div class="zebra-act-headbanner4 act-module-header">

            <style>.mui-zebra-page {
                background-color: #91767f;
            }</style>

            <div class="act-header-inner">
                <img src="images/TB19CI4kxTpK1RjSZR0SuvEwXXa.jpg_1080x1800Q90s50.jpg" width="100%"
                     alt=""/>
            </div>
        </div>

    </div>
    <!-- CBA推荐板块中间的地图 -->
    <div class="mui-zebra-module" id="J_2286222815">
        <div class="zebra-act-headbanner4 act-module-header">

            <style>.mui-zebra-page {
                background-color: #fff6ec;
            }</style>

            <div class="act-header-inner">
                <img src="images/TB1WOQ8kCzqK1RjSZFLSuwn2XXa.jpg_1080x1800Q90s50.jpg" width="100%"
                     alt=""/>
            </div>
        </div>
    </div>
    <!-- 底部商品 -->
    <div class="mui-zebra-module" id="J_6397266423">

        <div class="zebra-dm-image-six" data-mod-name="mui/zebra-dm-image-six/index-pc" data-config="{}" data-async-load="true">
            <div class="wrap">
                <div class="head">
                </div>
                <div class="line">

                    <a href="//piao.damai.cn/165383.html" target="_blank" data-spm="dcarditem_0" title="2018-2019中国男子篮球职业联赛" class="box ">
                        <div class="box-head">
                            <!-- 图片 -->
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">北京</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019中国男子篮球职业联赛 北京首钢常规赛主场赛事</div>
                            <div class="box-bottom-date">2018-2019赛季</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">50-960</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/165434.html" target="_blank" data-spm="dcarditem_1" title="北京北控常规赛主场赛事" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">北京</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019中国男子篮球职业联赛 北京农商银行常规赛主场赛事</div>
                            <div class="box-bottom-date">2018-2019赛季</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">50-880</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/165799.html" target="_blank" data-spm="dcarditem_2" title="辽宁衡润飞豹男篮常规赛单场票" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">沈阳</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季辽宁衡润飞豹男篮常规赛单场票</div>
                            <div class="box-bottom-date">2018.10.21-2019.03.13</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">80-880</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/166028.html" target="_blank" data-spm="dcarditem_3" title="CBA常规赛广东东莞银行主场" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">东莞</span>


                                <span class="box-head-tag3">好货不过百</span>
                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季CBA常规赛广东东莞银行主场</div>
                            <div class="box-bottom-date">2018.12.13-2019.03.10</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">100-800</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/162119.html" target="_blank" data-spm="dcarditem_4" title="上海哔哩哔哩篮球队常规赛主场" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">上海</span>


                                <span class="box-head-tag3">好货不过百</span>
                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季CBA上海哔哩哔哩篮球队常规赛主场比赛</div>
                            <div class="box-bottom-date">2018.10.25-2019.3.13</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">60-380</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/165874.html" target="_blank" data-spm="dcarditem_5" title="山西汾酒男篮" class="box noMarginRight">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">太原</span>


                                <span class="box-head-tag3">好货不过百</span>
                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-19赛季 CBA 山西汾酒男篮赛季散票</div>
                            <div class="box-bottom-date">2018.10.21-2019.3.7</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">72-1198</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/165259.html" target="_blank" data-spm="dcarditem_6" title="CBA常规赛天津荣钢主场" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">天津</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季CBA常规赛天津荣钢主场</div>
                            <div class="box-bottom-date">2018.10.23-2019.03.10</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">30-450</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/164817.html" target="_blank" data-spm="dcarditem_7" title="CBA南京同曦大圣赛事" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">南京</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">CBA2018-2019赛季南京同曦大圣主场赛事</div>
                            <div class="box-bottom-date">2018.10.21-2019.03.13</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">40-880</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/166062.html" target="_blank" data-spm="dcarditem_8" title="新疆广汇汽车男篮主场" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">乌鲁木齐</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019CBA常规赛新疆广汇汽车男篮主场</div>
                            <div class="box-bottom-date">2018.10.26-2019.03.13</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">60-1300</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/165478.html" target="_blank" data-spm="dcarditem_9" title="CBA常规赛青岛国信双星主场比赛" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">青岛</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季CBA常规赛青岛国信双星主场比赛</div>
                            <div class="box-bottom-date">2018.12.11-2019.03.09</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">100-400</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/165821.html" target="_blank" data-spm="dcarditem_10" title="八一红谷滩常规赛" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">南昌</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季CBA常规赛八一南昌红谷滩主场比赛</div>
                            <div class="box-bottom-date">2018.10.21-2019.03.13</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">50-280</span>
                            </div>
                        </div>
                    </a>

                    <a href="//detail.damai.cn/item.htm?id=579862221498" target="_blank" data-spm="dcarditem_11" title="" class="box noMarginRight">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">杭州</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季CBA-浙江稠州银行队常规赛主场赛事-杭州</div>
                            <div class="box-bottom-date">2018.12.19-12.21</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">100-300</span>
                            </div>
                        </div>
                    </a>

                    <a href="//detail.damai.cn/item.htm?id=579876381746" target="_blank" data-spm="dcarditem_12" title="" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">绍兴</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季CBA—浙江广厦男篮常规赛主场比赛（诸暨主场）</div>
                            <div class="box-bottom-date">2018.12.23 周日</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">60-480</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/164716.html" target="_blank" data-spm="dcarditem_13" title="CBA深圳马可波罗篮球队常规赛主场比赛" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">深圳</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">【龙岗】2018-2019赛季CBA深圳马可波罗篮球队常规赛主场比赛</div>
                            <div class="box-bottom-date">2018.10.21-2019.03.13</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">50-880</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/166026.html" target="_blank" data-spm="dcarditem_14" title="CBA赛季吉林东北虎常规赛" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">长春</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019赛季吉林东北虎常规赛</div>
                            <div class="box-bottom-date">2018.12.11-2019.03.01</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">60-480</span>
                            </div>
                        </div>
                    </a>

                    <a href="//piao.damai.cn/167863.html" target="_blank" data-spm="dcarditem_15" title="山东西王篮球俱乐部常规赛主场赛事" class="box ">
                        <div class="box-head">
                            <img src="" class="box-head-img">
                            <div class="box-head-line">
                                <span class="box-head-tag">济南</span>

                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="box-bottom-title">2018-2019中国男子篮球职业联赛 山东西王篮球俱乐部常规赛主场赛事</div>
                            <div class="box-bottom-date">2018.11.08-12.27</div>
                            <div class="box-bottom-money">
                                <span class="box-bottom-money-tip">￥</span>
                                <span class="box-bottom-money-num">80-1300</span>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

            <!--多商品滑动模块-->

            <!--<script type="text/html" class="list_tpl">
                {{#each(list)}}
                <a href="{{link}}" target="_blank" data-spm="dcarditem_{{xindex}}" title="{{subTitle}}" class="box {{#if((xindex+1)%6===0)}}noMarginRight{{/if}}">
                    <div class="box-head">
                        <img src="{{img}}" class="box-head-img" />
                        <div class="box-head-line">
                            <span class="box-head-tag">{{cityName}}</span>
                            {{#if(labelinfo)}}
                            {{#if(labelinfo.labelClass==='MARKET_CLASS')}}
                            <span class="box-head-tag2">{{labelinfo.labelName}}</span>
                            {{else}}
                            <span class="box-head-tag3">{{labelinfo.labelName}}</span>
                            {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="box-bottom">
                        <div class="box-bottom-title">{{name}}</div>
                        <div class="box-bottom-date">{{showTime}}</div>
                        <div class="box-bottom-money">
                            <span class="box-bottom-money-tip">￥</span>
                            <span class="box-bottom-money-num">{{formattedPriceStr}}</span>
                        </div>
                    </div>
                </a>
                {{/each}}
            </script>

            <textarea style="display: none" class="J_card_data">  		[{"id":"165383"},{"id":"165434"},{"id":"165799"},{"id":"166028"},{"id":"162119"},{"id":"164163"},{"id":"165874"},{"id":"165259"},{"id":"164817"},{"id":"166062"},{"id":"165478"},{"id":"165821"},{"id":"579862221498"},{"id":"579876381746"},{"id":"164716"},{"id":"166026"},{"id":"167863"},{"id":"164717"}]
	</textarea>-->
        </div>
    </div>
</div>


<!--页面底部 start-->
<div class="dm-bottom-wrap">
    <div class="dm-bottom">

        <div class="dm-links">
            <a href="//help.damai.cn/damai/contents/1896/5617.html" target="_blank">公司介绍</a>
            |
            <a href="//help.damai.cn/damai/contents/1896/5638.html" target="_blank">品牌识别</a>
            |
            <a href="//help.damai.cn/helpPage.htm?pageId=14" target="_blank">企业荣誉</a>
            |
            <a href="//help.damai.cn/damai/contents/1896/5627.html" target="_blank">隐私声明</a>
            |
            <a href="//help.damai.cn/damai/contents/1872/5674.html" target="_blank">联系及合作</a>
            |
            <a href="https://help.damai.cn/contents/1896/5629.html" target="_blank">招聘信息</a>
            |
            <a href="https://help.damai.cn/damai/contents/1896/13733.html" target="_blank">公司大事记</a>
        </div>
        <div class="dm-copyright">
            <p>
                <a href="http://www.miitbeian.gov.cn" target="_blank">京ICP证031057号</a>
                <span>|</span>
                <a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备11043884号</a>
                <span>|</span>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102000430" target="_blank">
                    <img src="images/police.png" class="vm"/>京公网安备11010102000430号
                </a>
                <span>|</span>
                <a href="images/TB1K9r6xN9YBuNjy0FfXXXIsVXa-1152-799.jpg" target="_blank">广播电视节目制作经营许可证
                    (京)字第02253号</a>
            </p>
            <p>
                <a href="images/TB1AsH4xH9YBuNjy0FgXXcxcXXa-1420-1032.jpg" target="_blank">网络文化经营许可证
                    京网文[2016]3438-413号</a>
                <span>|</span>
                <a href="images/TB1DfD6CxGYBuNjy0FnXXX5lpXa-1079-1527.jpg" target="_blank">营业性演出许可证 京市演587号</a>
            </p>
            <p>
                北京红马传媒文化发展有限公司 版权所有
                <a href="//www.damai.cn/">大麦网</a> Copyright 2003-2017 All Rights Reserved
            </p>
        </div>
        <div class="dm-copyright">
            <a rel="nofollow" title="中国票务在线" target="_blank" href="//www.damai.cn/">
                <img class="mr10" alt="" src="//dui.dmcdn.cn/dm_2014/common/img/logo/piao.png">
            </a>
            <a rel="nofollow" title="电子营业执照" target="_blank" href="//dui.dmcdn.cn/dm_2014/common/img/logo/dzyyzz.jpg">
                <img class="mr10" alt="" src="//dui.dmcdn.cn/dm_2014/common/img/logo/dzyy.png">
            </a>
            <span id="siteseal">
				<img style="cursor:pointer;cursor:hand" src="//www.damai.cn/dm2015/images/siteseal_gd_3_h_l_m.gif"
                     onclick="verifySeal();" alt="SSL site seal - click to verify">		
			</span>
            <a rel="nofollow" target="_blank" href="https://www.pcisecuritystandards.org/">
                <img src="//dui.dmcdn.cn/dm_2014/common/img/logo/pci.png" class="mr10">
            </a>
            <a rel="nofollow" target="_blank" href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1756737221">
                <img src="//dui.dmcdn.cn/dm_2014/common/img/logo/xin.png" class="mr10">
            </a>
            <a target="_blank" href="https://search.szfw.org/cert/l/CX20130327002367002885" id="___szfw_logo___">
                <img src="//www.damai.cn/images/chengxin.png">
            </a>
        </div>
    </div>
</div>
<!--页面底部 end-->
<!--<script>window.g_config = window.g_config || {};
window.g_config.seed = window.g_config.seed || {
    "packages": {
        "kissy": {"base": "//g.alicdn.com/kissy/k/1.4.16/", "version": "1.4.16"},
        "mui/babel-polyfill": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/babel-polyfill/6.2.6/",
            "version": "6.2.6"
        },
        "mui/countdown": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/countdown/4.0.3/",
            "version": "4.0.3"
        },
        "mui/crossimage": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/crossimage/4.1.30/",
            "version": "4.1.30"
        },
        "mui/fetch": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/fetch/4.1.12/",
            "version": "4.1.12"
        },
        "mui/i18n": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/i18n/4.0.4/",
            "version": "4.0.4"
        },
        "mui/jquery": {
            "version": "4.0.1",
            "path": "//g.alicdn.com/mui/jquery/4.0.1/",
            "group": "tm",
            "ignorePackageNameInUri": true,
            "debug": true,
            "name": "mui/jquery",
            "base": "//g.alicdn.com/mui/jquery/4.0.1/"
        },
        "mui/kissy-polyfill": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/kissy-polyfill/4.0.16/",
            "version": "4.0.16"
        },
        "mui/mtb-login": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/mtb-login/4.0.1/",
            "version": "4.0.1"
        },
        "mui/mtb-windvane": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/mtb-windvane/4.0.3/",
            "version": "4.0.3"
        },
        "mui/mtop": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/mtop/4.1.9/",
            "version": "4.1.9"
        },
        "mui/vuejs": {
            "debug": true,
            "group": "tm-weex-vue",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/vuejs/4.4.10/",
            "version": "4.4.10"
        },
        "mui/weex-component-link": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "isVue": true,
            "path": "//g.alicdn.com/mui/weex-component-link/4.1.1/",
            "version": "4.1.1",
            "weex": true
        },
        "mui/weex-vue-patch": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/weex-vue-patch/4.1.8/",
            "version": "4.1.8",
            "weex": true
        },
        "mui/weex-zebra-utils": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/weex-zebra-utils/4.1.19/",
            "version": "4.1.19",
            "weex": true
        },
        "mui/xtemplate": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/xtemplate/4.0.11/",
            "version": "4.0.11"
        },
        "mui/zebra-act-headbanner4": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "isVue": true,
            "path": "//g.alicdn.com/mui/zebra-act-headbanner4/4.4.9/",
            "version": "4.4.9",
            "weex": true,
            "name": "mui/zebra-act-headbanner4",
            "base": "//g.alicdn.com/mui/zebra-act-headbanner4/4.4.9/"
        },
        "mui/zebra-fans-card": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/zebra-fans-card/4.0.16/",
            "version": "4.0.16"
        },
        "mui/zepto": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/zepto/4.0.9/",
            "version": "4.0.9"
        },
        "mui/zebra-dm-image-six": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/zebra-dm-image-six/4.0.15/",
            "version": "4.0.15",
            "name": "mui/zebra-dm-image-six",
            "base": "//g.alicdn.com/mui/zebra-dm-image-six/4.0.15/"
        },
        "mui/cookie": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/cookie/4.1.0/",
            "version": "4.1.0"
        },
        "mui/feloader": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/feloader/4.1.20/",
            "version": "4.1.20",
            "name": "mui/feloader",
            "base": "//g.alicdn.com/mui/feloader/4.1.20/"
        },
        "mui/location": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/location/4.1.0/",
            "version": "4.1.0"
        },
        "mui/zebra-loader": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/zebra-loader/4.4.15/",
            "version": "4.4.15",
            "name": "mui/zebra-loader",
            "base": "//g.alicdn.com/mui/zebra-loader/4.4.15/"
        },
        "zebra-solution/damai-activity": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/zebra-solution/damai-activity/4.0.142/",
            "version": "4.0.142",
            "name": "zebra-solution/damai-activity",
            "base": "//g.alicdn.com/zebra-solution/damai-activity/4.0.142/"
        },
        "mui/zebra-dm-share": {
            "debug": true,
            "group": "tm",
            "ignorePackageNameInUri": true,
            "path": "//g.alicdn.com/mui/zebra-dm-share/4.50.31/",
            "version": "4.50.31"
        },
        "mui/kissy": {
            "debug": true,
            "ignorePackageNameInUri": true,
            "version": "4.0.6",
            "path": "//g.alicdn.com/mui/kissy/4.0.6/",
            "group": "tm",
            "name": "mui/kissy",
            "base": "//g.alicdn.com/mui/kissy/4.0.6/"
        }
    }, "modules": {
        "mui/countdown/index": {"requires": ["mui/zepto/zepto"]},
        "mui/countdown/index.xtpl": {"requires": ["mui/xtemplate/index"]},
        "mui/crossimage/index": {"requires": ["mui/babel-polyfill/index", "mui/zepto/zepto"]},
        "mui/i18n/index": {"requires": ["mui/i18n/format"]},
        "mui/mtb-login/index.xtpl": {"requires": ["mui/xtemplate/runtime"]},
        "mui/vuejs/index": {"requires": ["mui/vuejs/runtime.js", "mui/vuejs/render.js"]},
        "mui/vuejs/render": {"requires": ["mui/babel-polyfill/index", "mui/mtop/index", "mui/mtb-windvane/index", "mui/mtb-login/index"]},
        "mui/weex-component-link/index": {"requires": ["mui/weex-zebra-utils/index"]},
        "mui/weex-component-link/index-native": {"requires": ["mui/weex-zebra-utils/index-native"]},
        "mui/zebra-act-headbanner4/bulletScreen": {"requires": ["mui/zepto/zepto"]},
        "mui/zebra-act-headbanner4/i18n": {"requires": ["mui/i18n/index"]},
        "mui/zebra-act-headbanner4/index": {"requires": ["mui/kissy-polyfill/index", "mui/zepto/zepto", "mui/fetch/jsonp", "mui/countdown/index", "./bulletScreen", "./i18n.js", "mui/crossimage/index"]},
        "mui/zebra-act-headbanner4/index-pc": {"requires": ["mui/kissy-polyfill/index"]},
        "mui/zebra-act-headbanner4/index-vue": {"requires": ["mui/vuejs/index", "mui/weex-vue-patch/index", "mui/weex-zebra-utils/index", "mui/weex-component-link/index", "mui/vuejs/runtime", "mui/vuejs/render"]},
        "mui/zebra-act-headbanner4/weex/weex": {"requires": ["mui/vuejs/index-native", "mui/weex-vue-patch/index-native", "mui/weex-zebra-utils/index-native", "mui/weex-component-link/index-native"]},
        "mui/zebra-act-headbanner4/weex/weex.xtpl": {"requires": ["@weex-module/animation", "@ali/WeexUtils", "zebraUtils"]},
        "mui/zebra-fans-card/index": {"requires": ["mui/kissy-polyfill/index", "mui/zepto/zepto", "mui/fetch/jsonp"]},
        "mui/zebra-fans-card/index-pc": {"requires": ["mui/kissy-polyfill/index", "mui/zepto/zepto", "mui/fetch/jsonp"]},
        "mui/mtop/index": {"requires": ["mui/mtb-windvane/", "mui/babel-polyfill/"]},
        "mui/mtop/storage-middleware": {"requires": ["mui/babel-polyfill/"]},
        "mui/xtemplate/compiler": {"requires": ["./runtime", "./compiler/tools", "./compiler/parser", "./compiler/ast"]},
        "mui/xtemplate/index": {"requires": ["./runtime", "./compiler"]},
        "mui/xtemplate/runtime": {"requires": ["./runtime/util", "./runtime/commands", "./runtime/scope", "./runtime/linked-buffer"]},
        "mui/xtemplate/runtime/commands": {"requires": ["./scope", "./util"]},
        "mui/xtemplate/runtime/linked-buffer": {"requires": ["./util"]},
        "mui/xtemplate/runtime/util": {"requires": ["./escape-html"]},
        "mui/zebra-dm-image-six/index": {"requires": ["mui/zepto/zepto"]},
        "mui/zebra-dm-image-six/index-pc": {"requires": ["mui/jquery/jquery", "mui/mtop/index", "mui/xtemplate/"]},
        "mui/zebra-dm-share/index": {"requires": ["mui/zepto/zepto", "mui/zepto/event"]},
        "mui/zebra-dm-share/index-pc": {"requires": ["mui/zepto/zepto"]},
        "mui/fetch/fetch": {"requires": ["mui/babel-polyfill/index"]},
        "mui/fetch/iframePostForm": {"requires": ["mui/zepto/zepto"]},
        "mui/fetch/jsonp": {"requires": ["mui/fetch/fetch", "mui/fetch/tool"]},
        "mui/location/get-user-city-code": {"requires": ["mui/babel-polyfill/index", "mui/cookie/index"]},
        "mui/location/get-user-location": {"requires": ["mui/babel-polyfill/index", "mui/cookie/index"]},
        "mui/location/get-user-location-by-ip": {"requires": ["mui/babel-polyfill/index", "mui/cookie/index"]},
        "mui/zepto/event": {"requires": ["mui/zepto/zepto"]},
        "mui/zepto/form": {"requires": ["mui/zepto/zepto"]},
        "mui/zepto/fx": {"requires": ["mui/zepto/zepto"]},
        "mui/zepto/fx_methods": {"requires": ["mui/zepto/zepto", "mui/zepto/fx"]},
        "mui/zepto/gesture": {"requires": ["mui/zepto/zepto"]},
        "mui/zepto/ie": {"requires": ["mui/zepto/zepto"]},
        "mui/zepto/selector": {"requires": ["mui/zepto/zepto"]},
        "mui/zepto/stack": {"requires": ["mui/zepto/zepto"]},
        "mui/zepto/touch": {"requires": ["mui/zepto/zepto", "mui/zepto/event"]},
        "mui/jquery/seed": {"requires": []}
    }, "warnings": ["mui/zebra-loader versions not compat or invalid: 4.4.15|4.0.3"], "combine": true
};</script>
<script src="//g.alicdn.com/??mui/feloader/4.1.20/feloader-min.js,zebra-solution/damai-activity/4.0.142/config.js,mui/kissy/4.0.6/seed-min.js,mui/zebra-loader/4.4.15/index.js,mui/jquery/4.0.1/jquery.js"></script>

<script>
    (function($) {
        function hover(ele, className) {
            $(ele).on("mouseover", function() {
                $(this).addClass(className)
            });
            $(ele).on("mouseout", function() {
                $(this).removeClass(className)
            })
        }

        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if(arr = document.cookie.match(reg)) {
                return arr[2]
            }
            return null
        }
        hover(".mydm", "on");
        hover(".dm-service", "on");
        hover(".dm-app", "on");
        hover(".dm-site-nav", "on");
        hover(".dm-weixin", "on");
        var userName = getCookie("damai.cn_nickName");
        var html = "";
        if(userName) {
            userName = decodeURIComponent(userName);
            html += ' <span class="dm-name">HI ,' + userName + '</span><a class="dm-message" title="退出" href="//www.damai.cn/redirect.aspx?spm=a2o6e.home.0.0.22ac3938kCTJ6R&amp;type=loginout" data-spm-anchor-id="a2o6e.home.0.0">退出</a>'
        } else {
            html += '<span class="dm-name">HI, 欢迎来大麦</span>[<a class="dm-login" title="登录" href="//www.damai.cn/redirect.aspx?type=login" target="_blank">登录</a><a class="dm-register" title="注册" href="//www.damai.cn/redirect.aspx?type=reg" target="_blank">注册</a>]'
        }
        $("#headerUserinfo").html(html);

        //在线客服
        $(".xnchatService").on("click", function() {
            var trigger = this ;
            var page;
            if($ && $(trigger).closest && $(trigger).closest(".dm-service").length > 0) {
                page = "header_service";
            } else {
                page = encodeURIComponent(location.href);
            }
            window.open("https://online.damai.cn/alime/toalime?from=damai_itemdetail&page=" + page);
        })
    })($);
</script>-->
</body>

</html>