<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中文注册</title>
    <link rel="stylesheet" href="css/zhuce.css"/>
    <link rel="stylesheet" href="css/zhuce5.css"/>
    <link rel="stylesheet" href="css/zhuce4.css"/>
    <!--<script>"function"!=typeof Object.assign&&(Object.assign=function(t,n){"use strict";if(null==t)throw new TypeError("Cannot convert undefined or null to object");for(var e=Object(t),r=1;r<arguments.length;r++){var o=arguments[r];if(null!=o)for(var c in o)Object.prototype.hasOwnProperty.call(o,c)&&(e[c]=o[c])}return e});</script>
    <script src='//g.alicdn.com/??kissy/k/6.2.4/seed-min.js,mtb/lib-promise/3.1.3/polyfillB.js,mtb/lib-mtop/2.4.2/mtop.cmd.js' data-config="{combine:true}"></script>
    <script> define('@ali/lib-promise/build/polyfillB', function(require, module, exports){ module.exports = Promise; }); </script>
-->


    <!-- header block start -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <!--<link rel="shortcut icon" href="//gw.alicdn.com/tfs/TB1fGH0fgMPMeJjy1XcXXXpppXa-16-16.ico" type="image/x-icon">-->
    <!--<style>
        body, html {
            font-family: 'Helvetica',"PingFang SC",'Hiragino Sans GB W3',arial,sans-serif
        }
    </style>-->
    <!-- header block end -->
    <!-- page export styles  -->
    <link rel="stylesheet" href="css/zhuce1.css">
    <!-- inline css start -->
    <style>
        .dm-bottom-wrap {
            margin-top: 0;
        }
    </style>
    <!-- inline css end -->
    <!-- page export styles end -->
    <!-- grid style start -->
    <link rel="stylesheet" href="css/zhuce2.css"/>
    <!-- grid style end  -->

</head>
<body><!--<script>
    with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=&aplus&yunid=&3007537eeefb3&asid=AQAAAADicRhct93BHQAAAAC4eFQEfinsiA==",id="tb-beacon-aplus",src=(location>"https"?"//g":"//g")+".alicdn.com/alilog/mlog/aplus_v2.js")
</script>-->

<!-- body start -->

<div class=" page-layout page-main-content">

    <!-- container -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">

            <!-- col -->

            <div class="col col-main">
                <div class="main-wrap J_Region">

                    <!-- module -->

                    <div id="guid-1267453" class="kissy-login-top J_Module">
                        <style>.pcbar {
                            height: 90px
                        }

                        .pcbar__bd {
                            width: 1200px;
                            margin: 0 auto;
                            height: 90px
                        }

                        .pcbar__bd__logo img {
                            float: left;
                            *display: inline;
                            margin-top: 24px;
                            width: 108px;
                            height: 48px
                        }

                        .pcbar__bd__btn {
                            float: right;
                            *display: inline;
                            margin-top: 24px;
                            width: 121px;
                            height: 38px;
                            line-height: 38px;
                            overflow: hidden;
                            text-align: center;
                            border: 1px solid #ebebeb;
                            font-size: 14px;
                            color: #888;
                            text-decoration: none;
                        }

                        .pcbar__bd__btn:hover {
                            text-decoration: none
                        }</style>
                        <div class="pcbar">
                            <div class="pcbar__bd w1200">
                                <a href="https://www.damai.cn" class="pcbar__bd__logo">
                                    <img src="images/TB1TikIsAvoK1RjSZFDXXXY3pXa-230-104.png"/>
                                </a>
                                <a href="https://en.damai.cn/" target="_blank" class="pcbar__bd__btn">English</a>
                            </div>
                        </div>

                    </div>
                    <!--module -->


                </div>

            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <!-- container -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">

            <!-- col -->

            <div class="col col-main">
                <div class="main-wrap J_Region">

                    <!-- module -->

                    <div id="guid-1027582" class="kissy-register-chinese J_Module">
                        <div class="J_ModContainer">
                            <div class="module-wrap">
                                <div class="register ">
                                    <div class="w1200">
                                        <div id="container">
                                            <div class="schema-form">
                                                <form class="next-form next-form-left ver next-form-large" id="myform"
                                                      method="post" action="">
                                                    <div class="form-content">
                                                        <div class="next-form-item next-row has-error" label="手机号码:">
                                                            <img src="images/QQxin.png" style="position: absolute;left: 157px;top: 15px">
                                                            <label class="next-col-8 next-form-item-label"
                                                                   style="margin-right: 0px">手机号码:</label>
                                                            <div class="next-col-10 next-form-item-control">
                                                                <div class="select-mobile-input-component">
                                                                    <div class="mobileCountrySelect" id="xzqy1"
                                                                         style="width: 142px">
                                                                        <span value="CN" lang="zh-cn"
                                                                              class="next-select large"
                                                                              style="min-width: 144px; width: 144px; border-right: 0px;background: url('images/QQxjt.png')no-repeat white 115px 13px">
                                                                            <input type="hidden" name="select-faker"
                                                                                   value="CN">
                                                                            <span class="next-select-inner">
                                                                                <div>
                                                                                    <div class="mobile-option qy">
                                                                                        <span class="mobile-text"
                                                                                              title="中国大陆">中国大陆</span>
                                                                                        <span class="mobile-code">+86</span>
                                                                                    </div>
                                                                                </div>
                                                                            </span>
                                                                            <!--<i class="next-icon next-icon-arrow-down next-icon-medium next-select-arrow"></i>--></span>
                                                                    </div>
                                                                    <span class="next-input next-input-single next-input-large mobile-input"
                                                                          style="width: 156px;margin-left: -2px">
                                                                        <input type="text" value="" id="shezhishoujihao"
                                                                               maxlength="11"
                                                                               onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                                               height="100%">
                                                                    </span>
                                                                </div><!-- react-text: 21 --> <!-- /react-text -->
                                                                <!--手机号码不能为空-->
                                                                <div class="next-form-item-explain"
                                                                     style="color: #DD2727" id="shoujihaotishi">

                                                                </div>
                                                                <div class="schema-form-item-tips"></div>
                                                            </div>
                                                        </div>
                                                        <div class="next-form-item next-row has-success" label="登录密码:">
                                                            <label for="password" required=""
                                                                   class="next-col-8 next-form-item-label">登录密码:</label>
                                                            <div class="next-col-10 next-form-item-control"><span
                                                                    class="next-input next-input-single next-input-large">
                                                                <input type="password" value="" placeholder="设置你的登录密码"
                                                                       id="password" height="100%"></span>
                                                                <!--密码设置不符合要求-->
                                                                <div class="next-form-item-explain" id="mmts"
                                                                     style="color: #DD2727">

                                                                </div>
                                                                <div class=""></div>
                                                                <div class="schema-form-item-tips"></div>
                                                            </div>
                                                        </div>
                                                        <div class="next-form-item next-row" label="密码确认:">
                                                            <label for="rePassword" required=""
                                                                   class="next-col-8 next-form-item-label">密码确认:</label>
                                                            <div class="next-col-10 next-form-item-control"><span
                                                                    class="next-input next-input-single next-input-large"><input
                                                                    type="password" placeholder="请再次输入你的登录密码"
                                                                    id="rePassword" value=""
                                                                    height="100%"></span>
                                                                <!--两次输入的密码不一致，请重新输入-->
                                                                <div class="next-form-item-explain" id="remmts"
                                                                     style="color: #DD2727">

                                                                </div>
                                                                <div class=""></div><!-- react-text: 41 -->
                                                                <!-- /react-text -->
                                                                <div class="schema-form-item-tips"></div>
                                                            </div>
                                                        </div>
                                                        <!--<div class="next-form-item next-row" label="滑动验证:">
                                                            <label required="" class="next-col-8 next-form-item-label">滑动验证:</label>
                                                            <div class="next-col-10 next-form-item-control">
                                                                <div id="register_no_captcha" class="nc-container">
                                                                    <div id="nc_1_wrapper" class="nc_wrapper">
                                                                        <div id="nc_1_n1t" class="nc_scale">
                                                                            <div id="nc_1__bg" class="nc_bg"
                                                                                 style="width: 0px;"></div>
                                                                            <span id="nc_1_n1z"
                                                                                  class="nc_iconfont btn_slide"
                                                                                  style="left: 0px;"></span>
                                                                            <div id="nc_1__scale_text"
                                                                                 class="scale_text slidetounlock"><span
                                                                                    class="nc-lang-cnt"
                                                                                    data-nc-lang="_startTEXT">请按住滑块，拖动到最右边</span>
                                                                            </div>
                                                                            <div id="nc_1_clickCaptcha"
                                                                                 class="clickCaptcha">
                                                                                <div class="clickCaptcha_text">
                                                                                    <b id="nc_1__captcha_text"
                                                                                       class="nc_captch_text"></b>
                                                                                    <i id="nc_1__btn_2"
                                                                                       class="nc_iconfont nc_btn_2 btn_refresh"></i>
                                                                                </div>
                                                                                <div class="clickCaptcha_img"></div>
                                                                                <div class="clickCaptcha_btn"></div>
                                                                            </div>
                                                                            <div id="nc_1_imgCaptcha"
                                                                                 class="imgCaptcha">
                                                                                <div class="imgCaptcha_text"><input
                                                                                        id="nc_1_captcha_input"
                                                                                        maxlength="6" type="text"
                                                                                        style="ime-mode:disabled"></div>
                                                                                <div class="imgCaptcha_img"
                                                                                     id="nc_1__imgCaptcha_img"></div>
                                                                                <i id="nc_1__btn_1"
                                                                                   class="nc_iconfont nc_btn_1 btn_refresh"></i>
                                                                                <div class="imgCaptcha_btn">
                                                                                    <div id="nc_1__captcha_img_text"
                                                                                         class="nc_captcha_img_text"></div>
                                                                                    <div id="nc_1_scale_submit"
                                                                                         class="nc_scale_submit"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div id="nc_1_cc" class="nc-cc"></div>
                                                                            <i id="nc_1__voicebtn" tabindex="0"
                                                                               role="button"
                                                                               class="nc_voicebtn nc_iconfont"
                                                                               style="display:none"></i>
                                                                            <b id="nc_1__helpbtn"
                                                                               class="nc_helpbtn"><span
                                                                                    class="nc-lang-cnt"
                                                                                    data-nc-lang="_learning">了解新功能</span></b>
                                                                        </div>
                                                                        <div id="nc_1__voice" class="nc_voice"></div>
                                                                    </div>
                                                                </div>&lt;!&ndash; react-text: 47 &ndash;&gt; &lt;!&ndash; /react-text &ndash;&gt;
                                                                <div class=""></div>&lt;!&ndash; react-text: 49 &ndash;&gt;
                                                                &lt;!&ndash; /react-text &ndash;&gt;
                                                                <div class="schema-form-item-tips"></div>
                                                            </div>
                                                        </div>-->
                                                        <div class="next-form-item next-row form-checkbox next-form-text-align" label=" ">
                                                            <label class="next-col-8 next-form-item-label"></label>
                                                            <div class="next-col-10 next-form-item-control">
                                                                <div class="form-checkbox">
                                                                    <label class="next-checkbox ">
                                                                        <!--<span class="next-checkbox-inner">
                                                                            &lt;!&ndash;<i class="next-icon next-icon-select next-icon-xs"></i>&ndash;&gt;
                                                                        </span>-->
                                                                    </label>
                                                                    <span class="form-checkbox-label" style="margin-left: 0px;padding-left: 0px">

                                                                        <div><input type="checkbox" id="gx" value="false" style="margin-left: -15px"/>
                                                                            <span>&nbsp;&nbsp;&nbsp;我已阅读并同意<a
                                                                                href="https://sale.damai.cn/contents/4677/13574.html"
                                                                                target="_blank">《会员协议》</a>和
                                                                            <a href="https://sale.damai.cn/contents/4677/13572.html"
                                                                               target="_blank">《隐私权条款》</a>
                                                                        </span>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                                <!--请勾选同意协议-->
                                                                <div class="next-form-item-explain" style="color: #DD2727" id="tsgx">

                                                                </div>
                                                                <div class=""></div>
                                                                <!-- /react-text -->
                                                                <div class="schema-form-item-tips"></div>
                                                            </div>
                                                        </div>
                                                        <div class="next-row">
                                                            <div class="next-col next-col-offset-8">
                                                                <input name="loginAction" type="submit" id="tijiao"
                                                                       class="next-btn next-btn-primary next-btn-large"
                                                                       style="margin-right: 12px; width: 150px;"
                                                                       value="注册"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="xzqy" style="display: none;position: absolute;left: 74px;top: 160px;">
                                            <div class="next-overlay-wrapper opened">
                                                <div tabindex="0"
                                                     class="next-menu ver next-overlay-inner animated expandInDown next-select-menu next-position-tl"
                                                     style="width: 145px; position: absolute; left: 479.984px; top: 40px;">
                                                    <ul class="next-menu-content">
                                                        <li value="CN" tabindex="-1" role="menuitem"
                                                            class="next-menu-item">
                                                            <div>
                                                                <div class="mobile-option xzq">
                                                                    <span class="mobile-text" title="中国大陆">中国大陆</span>
                                                                    <span class="mobile-code">+86</span></div>
                                                            </div><!-- react-empty: 11 --></li>
                                                        <li value="HK" tabindex="-1" role="menuitem"
                                                            class="next-menu-item selected">
                                                            <div>
                                                                <div class="mobile-option xzq">
                                                                    <span class="mobile-text" title="中国香港">中国香港</span>
                                                                    <span class="mobile-code">+852</span></div>
                                                            </div>
                                                            <!--<i class="next-icon next-icon-select next-icon-xs next-menu-icon-select zoomIn zoomIn-active"
                                                               style="left: 4px;"></i>--></li>
                                                        <li value="MO" tabindex="-1" role="menuitem"
                                                            class="next-menu-item">
                                                            <div>
                                                                <div class="mobile-option xzq">
                                                                    <span class="mobile-text" title="中国澳门">中国澳门</span>
                                                                    <span class="mobile-code">+853</span></div>
                                                            </div><!-- react-empty: 27 --></li>
                                                        <li value="TW" tabindex="-1" role="menuitem"
                                                            class="next-menu-item">
                                                            <div>
                                                                <div class="mobile-option xzq">
                                                                    <span class="mobile-text" title="中国台湾">中国台湾</span>
                                                                    <span class="mobile-code">+886</span></div>
                                                            </div><!-- react-empty: 35 --></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--module -->

                </div>

            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <!-- container -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">

            <!-- col -->

            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!-- module -->

                    <div id="guid-1022395" class="kissy-pc-footer J_Module">
                        <link rel="stylesheet" href="css/zhuce3.css"/>


                        <div class="dm-footer">
                            <div class="w1200">
                                <ul class="footer__links">

                                    <li class="footer__links__list"><a href="//help.damai.cn" target="_blank"
                                                                       data-spm="flink0">帮助中心</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=69&amp;categoryId=30"
                                            target="_blank" data-spm="flink1">公司介绍</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=70&amp;categoryId=30"
                                            target="_blank" data-spm="flink2">品牌识别</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=72&amp;categoryId=30"
                                            target="_blank" data-spm="flink3">公司大事记</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=40&amp;categoryId=14"
                                            target="_blank" data-spm="flink4">隐私权专项政策</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;jubao.alibaba.com&#x2F;internet&#x2F;readme.htm?spm=a2o6e.search.0.0.72f44d15Votov6&amp;site=damai"
                                            target="_blank" data-spm="flink5">廉正举报</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;help.damai.cn&#x2F;helpPage.htm?pageId=58&amp;categoryId=5"
                                            target="_blank" data-spm="flink6">联系合作</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;job.alibaba.com&#x2F;zhaopin&#x2F;positionList.htm?keyWord=JXU1OTI3JXU5RUE2&amp;_input_charset=UTF-8"
                                            target="_blank" data-spm="flink7">招聘信息</a></li>
                                    <li class="footer__links__grep">|</li>

                                    <li class="footer__links__list"><a
                                            href="&#x2F;&#x2F;x.damai.cn&#x2F;markets&#x2F;special&#x2F;fangzhapian?spm=a2o6e.home.0.0.75df48d3hqGWGD&amp;wh_ttid=pc"
                                            target="_blank" data-spm="flink8">防骗秘籍</a></li>


                                </ul>
                                <div class="footer__ft">
                                    <div class="footer__ft_fl">
                                        <a href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B" target="_blank"
                                           class="footer__ft__logo">
                                            <img src="images/TB17qoDszTpK1RjSZKPXXa3UpXa-167-60.png"
                                                 alt="">
                                        </a>
                                        <div class="footer__ft__code__box">
                                            <img class="footer__ft__code"
                                                 src="images/TB1r0uFxHSYBuNjSspiXXXNzpXa-280-280.png"
                                                 alt="">
                                            <span>APP下载</span>
                                        </div>
                                    </div>
                                    <div class="footer__ft_fr">
                                        <div class="footer__fr__contact">

                                            <a style="margin-left:0;"
                                               href="//online.damai.cn/alime/index?from=damai_pc_item&v=3"
                                               class="footer__fr__contact__btn alime">在线客服</a>
                                        </div>
                                        <ul class="footer__ft__words">
                                            <li class="footer__ft__certificate"><a
                                                    href="http://www.miitbeian.gov.cn?spm=a2o6e.home.0.0.5b4d48d3mVzb2Z"
                                                    target="_blank">京ICP证031057号</a></li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a href="http://www.miitbeian.gov.cn"
                                                                                   target="_blank">京ICP备11043884号</a>
                                            </li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102000430"
                                                    target="_blank">京公网安备11010102000430号</a>
                                            </li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="images/TB1K9r6xN9YBuNjy0FfXXXIsVXa-1152-799.jpg"
                                                    target="_blank">广播电视节目制作经营许可证
                                                (京)字第02253号</a></li>
                                        </ul>
                                        <ul class="footer__ft__words">
                                            <li class="footer__ft__certificate"><a
                                                    href="images/TB1AsH4xH9YBuNjy0FgXXcxcXXa-1420-1032.jpg"
                                                    target="_blank">网络文化经营许可证
                                                京网文[2016]3438-413号</a></li>
                                            <li class="footer__ft__grep">|</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="images/TB1DfD6CxGYBuNjy0FnXXX5lpXa-1079-1527.jpg"
                                                    target="_blank">营业性演出许可证
                                                京市演587号</a></li>
                                        </ul>
                                        <ul class="footer__ft__words">
                                            <li class="footer__ft__certificate">北京红马传媒文化发展有限公司 版权所有</li>
                                            <li class="footer__ft__certificate"><a
                                                    href="//www.damai.cn/?spm=a2o6e.home.0.0.591b48d3QzpG8B">大麦网</a>
                                            </li>
                                            <li>Copyright 2003-2018 All Rights Reserved</li>
                                        </ul>
                                        <div class="footer__ft__img">
                    <span id="siteseal">
                    <!--<script async="" type="text/javascript">
                            function verifySeal() {
                                var bgHeight = "null";
                                var bgWidth = "593";
                                var url = "https:\/\/seal.godaddy.com\/verifySeal?sealID=LU6rXPgk5BZ67ZEYpYS2JcN3AyCJOs6aD3HBo4dwA3iGeqp6csKFmqgB0zLL";
                                window.open(url, 'SealVerfication', 'menubar=no,toolbar=no,personalbar=no,location=yes,status=no,resizable=yes,fullscreen=no,scrollbars=no,width=' + bgWidth + ',height=' + bgHeight);
                            }
                    </script>-->
                    <img style="cursor:pointer;cursor:hand" class="footer__ft__img1"
                         src="images/TB1gw_ZxNWYBuNjy1zkXXXGGpXa-131-32.gif"
                         onclick="verifySeal();" alt="SSL site seal - click to verify"
                         data-spm-anchor-id="a2o6e.home.0.i1.5b4d48d3mVzb2Z">
                    </span>
                                            <a rel="nofollow" title="电子营业执照" target="_blank"
                                               href="images/TB1CChlpwDqK1RjSZSyXXaxEVXa-1200-1672.jpg">
                                                <img class="footer__ft__img2" alt=""
                                                     src="images/TB1ZO80pyOYBuNjSsD4XXbSkFXa-141-41.png">
                                            </a>

                                            <a rel="nofollow" target="_blank"
                                               href="https://www.pcisecuritystandards.org/">
                                                <img src="images/TB1Y580pyOYBuNjSsD4XXbSkFXa-83-50.png"
                                                     class="footer__ft__img3">
                                            </a>
                                            <a rel="nofollow" target="_blank"
                                               href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1756737221">
                                                <img src="images/TB1pM_ZxNWYBuNjy1zkXXXGGpXa-114-40.png"
                                                     class="footer__ft__img4w">
                                            </a>
                                            <a target="_blank"
                                               href="https://search.szfw.org/cert/l/CX20130327002367002885"
                                               id="___szfw_logo___">
                                                <img class="footer__ft__img4"
                                                     src="images/TB1C4nNxTlYBeNjSszcXXbwhFXa-114-42.png">
                                            </a>
                                            <!--<script type="text/javascript">(function () {
                                                document.getElementById('___szfw_logo___').oncontextmenu = function () {
                                                    return false;
                                                }
                                            })();</script>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .sidebar {
                                top: 72.5%;
                            }

                            img {
                                border: 0;
                            }
                        </style>
                        <!--<script type="text/javascript" src="https://g.alicdn.com/dt/tracker/3.5.4/??tracker.Tracker.js,tracker.interfaceTrackerPlugin.js,tracker.performanceTrackerPlugin.js" crossorigin></script>
                        <script type="text/javascript">

                            var tracker = new window.Tracker({
                                pid: 'damaipc',
                                plugins: [
                                    [window.interfaceTrackerPlugin],
                                    [window.performanceTrackerPlugin]
                                ],
                            });

                            // 启动 tracker 并监听全局 JS 异常
                            tracker.install();
                        </script>-->

                    </div>
                    <!--module -->


                </div>

            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->

</div>

<!-- body end -->


<!-- seed start -->


<!-- seed end -->
<!-- page export scripts  -->

<!--<script>
    //mode:render
    window.define && define('@page/data',[], function(require, exports, module) {
        var page = {
            pageId:'194541',
            theme:'',
            backgroundColor:'',
            charset:'utf-8',
            title:'中文注册',
            spmA:'a211rg',
            spmB:'11305495',
            keyword:'',
            description:'',
            hostname:'',
            env:'production',
            deviceType:'pc'
        };
        var modules = [];
        //block nav data
        try{ modules = modules.concat(window.__tms_block_datas__.nav.modules); }catch(e){};





        modules.push({
            id:"1267453",
            name:"kissy-login-top",
            attrs:[][0] || {},
            engine:"tce",
            fullName:'upx/damai-mod/kissy-login-top',
            data:[{"moduleinfo":{"logo":"https://gw.alicdn.com/tfs/TB1TikIsAvoK1RjSZFDXXXY3pXa-230-104.png"}}][0] || {}
        });







        modules.push({
            id:"1027582",
            name:"kissy-register-chinese",
            attrs:[][0] || {},
            engine:"tce",
            fullName:'upx/damai-mod/kissy-register-chinese',
            data:[{"moduleinfo":{"iframeUrl":"https://ipassport.damai.cn/member/reg/enter_reg.htm?_regfrom=DAMAI"}}][0] || {}
        });







        modules.push({
            id:"1022395",
            name:"kissy-pc-footer",
            attrs:[][0] || {},
            engine:"tce",
            fullName:'upx/damai-mod/kissy-pc-footer',
            data:[{"moduleinfo":{},"txts":[{"data_para":{"tce_vid":"0","tce_sid":2673211,"env":"online"},"tms_type":"jsonp","data_type":"tceonline"}],"countinfo":{"txts":{"length_pc":1,"length":1}}}][0] || {}
        });





        //block footer data
        try{ modules = modules.concat(window.__tms_block_datas__.footer.modules); }catch(e){};
        module.exports = {
            page: page,
            modules: modules
        };
    });
</script>

<script src="//g.alicdn.com/code/npm/@ali/??straw/1.1.1/index.cmd.js,xctrl/7.2.4/xctrl-kissy.cmd.js,pi-kissy-pc/0.0.32/index.cmd.js,pi-kissy-pc/0.0.32/mod-base.cmd.js,xtemplate/4.5.0/runtime.cmd.js"></script><script src="//g.alicdn.com/damai-mod/??kissy-login-top/0.0.9/index.js,kissy-pc-footer/0.0.3/index.js,kissy-register-chinese/0.0.18/index.js"></script>



&lt;!&ndash; page export scripts end &ndash;&gt;
&lt;!&ndash; init scripts start &ndash;&gt;

<script src="//g.alicdn.com/code/npm/@ali/init-kissy-pc/0.0.11/index.js"></script>-->

<!-- init scripts end -->
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /*区域下拉框*/
        $("#xzqy1").toggle(function () {
            $("#xzqy").show();
        }, function () {
            $("#xzqy").hide();
        });
        /*现在区域*/
        $(".xzq").click(function () {
            var a = $(this).find(".mobile-text").text();
            var b = $(this).find(".mobile-code").text();
            var c = "<span class='mobile-text' title='" + a + "'>" + a + "</span>";
            var d = "<span class='mobile-code'>" + b + "</span>";
            var neir = c + d;
            $(".qy").html(neir);
            $("#xzqy").hide();
        });

        /*提交验证*/
        $("#shezhishoujihao").blur(yzsjh);
        $("#password").blur(yzmm);
        $("#rePassword").blur(yzremm);

        $("#myform").submit(function () {
            var flag = true;
            if (!yzsjh()) flag = false;
            if (!yzmm()) flag = false;
            if (!yzremm()) flag = false;
            if (!yzgx()) flag = false;
            return flag;
        });

        function yzsjh() {
            var $sjh = $("#shezhishoujihao");
            var $sjts = $("#shoujihaotishi");
            $sjts.html("");
            var $sjzzbds = /^1[3,5,8][0-9]{9}/;
            if ($sjh.val() == "") {
                $sjts.html("手机号不能为空");
                return false;
            }
            if ($sjh.val().length != 11) {
                $sjts.html("手机号码必须是11位");
                return false;
            }
            if ($sjzzbds.test($sjh.val()) == false) {
                $sjts.html("手机号是以13,15,18开头");
                return false;
            }
            return true;
        }

        function yzmm() {
            var $mm = $("#password");
            var $mmts = $("#mmts");
            $mmts.html("");
            var $mmzzbds = /^[a-zA-Z][a-zA-Z0-9_]{4,15}$/;
            if ($mm.val() == "") {
                $mmts.html("密码不能为空");
                return false;
            }
            if ($mmzzbds.test($mm.val()) == false) {
                $mmts.html("密码必须以字母开头的5-16位");
                return false;
            }
            return true;
        }

        function yzremm() {
            var $mm = $("#password");
            var $remm = $("#rePassword");
            var $remmts = $("#remmts");
            $remmts.html("");
            if ($remm.val() != $mm.val()) {
                $remmts.html("两次输入的密码不一致");
                return false;
            }
            return true;
        }

        function yzgx() {
            var $yzgx=$("input[type='checkbox']").is(':checked');
            var $gxts=$("#tsgx");
            $gxts.html("");
            if($yzgx==false){
                $gxts.html("请勾选同意协议");
                return false;
            }
            return true;
        }
    })
</script>
</body>
</html>